In [73]:
import requests

In [74]:
website_url= requests.get('https://www.census.gov/foreign-trade/balance/c5700.html').text

In [75]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
print(soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <!-- #BeginTemplate 'file://///sharedncs_ftd_server/ftd/FTD/SDSB/All FTD Staff
/IEWORK/internet/foreign-trade/Templates/DATA_3COL_Current.dwt' -->
 <!-- DW6 -->
 <head>
  <!--Each page must contain this info, per OMB, update info as neccessary-->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <!-- #BeginEditable 'meta info' -->
  <meta content="Foreign Trade: Data" name="DC.title"/>
  <meta all="" and="" can="" content="The U.S. Census Bureau" data="" data.="" date="" every="" find="" foreign="" here.="" is="" latest="" month="" most="" name="DC.description" of="" program="" release="" s="" source="" the="" to="" trade="" u.s.="" up="" we="" you=""/>
  <meta content="imports, exports, trade, balance, China " name="DC.subject"/>
  <meta content="noodp" name="robots"/>
  <meta content="US Census Bureau Foreign Trade Division" name="DC.creator"/>
  <meta content="2009-04-21" name="DC.date.created" scheme="ISO8601"/>
  <meta content="2009-07-22" name="DC.date.reviewed" scheme="ISO8601"/>
  <meta content="EN-US" name="DC.language" scheme="DCTERMS.RFC1766"/>
  <meta content="Foreign Trade Data Dissemination Branch" name="author"/>
  <!-- #EndEditable -->
  <!-- #BeginEditable 'Page Title' -->
  <title>
   Foreign Trade - U.S. Trade with China
  </title>
  <!-- #EndEditable -->
  <!-- Site wide JS -->
  <script src="/main/javascript/ruthsarian_utilities.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   <!--
if ( ( typeof( set_min_width ) ).toLowerCase() != 'undefined' ) { set_min_width( 'page-container' , 853 ); }
if ( ( typeof( sfHover ) ).toLowerCase() != 'undefined' ) { event_attach( 'onload' , function () {
sfHover( 'middlemenu' );
} ); }
//-->
  </script>
  <script src="/main/javascript/unlink.js" type="text/javascript">
  </script>
  <script src="/main/javascript/jquery.js" type="text/javascript">
  </script>
  <!--End JavaScript Links-->
  <!-- CSS Styles -->
  <!-- #BeginEditable 'css' -->
  <!-- You can edit the path to the CSS.  CSS MUST stay in a folder called 'css' on the server-->
  <link href="/foreign-trade/css/SiteDefined.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/foreign-trade/css/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!-- #EndEditable -->
  <link href="/main/css/menus.css" media="all, handheld" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div id="page-container">
   <noscript>
    This Javascript allows the page in IE to resize to the minimum width of 853 pixels and no less.
   </noscript>
   <!-- RESPONSIVE HEADER LAST UPDATED 7/12/2018 -->
   <button class="cb-header-skip-nav sr-only sr-only-focusable">
    Skip to main content
   </button>
   <header>
    <div id="top_innerPage">
     <!-- Used for CSS resets and making rendering consistent across all browsers/devices -->
     <!-- add Universal Federated Analytics -->
     <script class="global-file" id="_fed_an_ua_tag" language="javascript" src="/main/javascript/federated-analytics-min.js?agency=DOC&amp;subagency=CEN">
     </script>
     <!-- This code is for web metrics - SiteCatalyst -->
     <script class="global-file" src="//www.census.gov/main/javascript/s_code.js" type="text/javascript">
     </script>
     <script type="text/javascript">
      var s_code = s.t();
            if (s_code) document.write(s_code)
     </script>
     <!-- end of web metrics code -->
     <!-- Adding original census.gov css-->
     <link class="cb-main-support global-file" href="/main/css/_new/bootstrap.css" rel="stylesheet"/>
     <link class="cb-main-support global-file" href="/main/css/_new/base.css" rel="stylesheet"/>
     <link class="cb-main-support global-file" href="/main/css/_new/extra.css" rel="stylesheet"/>
     <link class="cb-main-support global-file" href="/main/css/_new/typeahead.css" rel="stylesheet"/>
     <link class="cb-main-support global-file" href="/main/css/_new/header.css" rel="stylesheet"/>
     <link class="cb-main-support global-file" href="/main/css/_new/search.css" rel="stylesheet"/>
     <script class="cb-main-support global-file" src="/main/responsive-header/jquery/jquery.js">
     </script>
     <script class="cb-main-support global-file" src="/main/responsive-header/jquery/jquery-ui.js">
     </script>
     <!-- Check for jquery conflict  -->
     <script type="text/javascript">
      $acn = jQuery.noConflict();
            if (typeof jQuery === 'undefined' || typeof $ === 'undefined') {
                jQuery = $acn;
                $ = $acn;
            }
            $(function () {
                $('.cb-header-skip-nav').click(function () {
                    $('#cb-after-header-anchor').focus();
                });


            });
     </script>
     <script class="cb-main-support global-file" src="/main/responsive-header/bootstrap-custom/js/bootstrap.js">
     </script>
     <script class="cb-main-support global-file" src="/main/responsive-header/js/typeahead.js">
     </script>
     <!-- START OF CENSUS HEADER HERE -->
     <div id="innerPage">
      <div class="belowHeader">
       <div class="topBg">
       </div>
       <div class="wrapper wrapperMarginTop">
        <div class="desktopHeaderCls row no-gutter" id="desktopHeader">
         <div class="censusheader col-lg-12">
          <div class="cb-header-tr cf" id="headerTopRow">
           <ul class="header_top_links">
            <li>
             <a href="https://www.commerce.gov/">
              U.S. Department of
                                            Commerce
             </a>
            </li>
            <li>
             <a href="https://www.census.gov/about/contact-us/social_media.html">
              Blogs
             </a>
            </li>
            <li>
             <a href="https://www.census.gov/about/index.html">
              Index
                                            A-Z
             </a>
            </li>
            <li>
             <a href="https://www.census.gov/glossary/">
              Glossary
             </a>
            </li>
            <li>
             <a href="https://ask.census.gov/">
              FAQs
             </a>
            </li>
           </ul>
          </div>
          <div class="cb-header-br cf" id="bottomRow">
           <div class="cb-header-logo col-sm-1">
            <div id="logo">
             <a href="https://www.census.gov/en.html">
              <img alt="United States Census Bureau" src="/main/img/USCENSUS_IDENTITY_SOLO_White_2in_TM.svg" title="U.S. Census Bureau"/>
             </a>
            </div>
           </div>
           <div class="col-sm-9 main-nav-section" id="mainNavSection">
            <nav>
             <div id="unknown">
              <!-- BEGINNING OF NAVIGATION TABS -->
              <div id="headerBottomRow">
               <ul class="nav nav-tabs clickable" id="mainTabs">
                <li class="headerCategories" id="NAV_1784167100_1HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_11" onclick="toggleDropdown(event, '#NAV_1784167100_1');">
                  <div class="top_header">
                   TOPICS
                  </div>
                  <div class="subHeader">
                   Population, Economy
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_1059285156_2HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_12" onclick="toggleDropdown(event, '#NAV_1059285156_2');">
                  <div class="top_header">
                   GEOGRAPHY
                  </div>
                  <div class="subHeader">
                   Maps, Products
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_1830861979_3HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_13" onclick="toggleDropdown(event, '#NAV_1830861979_3');">
                  <div class="top_header">
                   LIBRARY
                  </div>
                  <div class="subHeader">
                   Infographics, Publications
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_2122698_4HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_14" onclick="toggleDropdown(event, '#NAV_2122698_4');">
                  <div class="top_header">
                   DATA
                  </div>
                  <div class="subHeader">
                   Tools, Developers
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_542684251_5HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_15" onclick="toggleDropdown(event, '#NAV_542684251_5');">
                  <div class="top_header">
                   SURVEYS/PROGRAMS
                  </div>
                  <div class="subHeader">
                   Respond, Survey Data
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_1460391502_6HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_16" onclick="toggleDropdown(event, '#NAV_1460391502_6');">
                  <div class="top_header">
                   NEWSROOM
                  </div>
                  <div class="subHeader">
                   News, Blogs
                  </div>
                 </a>
                </li>
                <li class="headerCategories" id="NAV_1683946577_7HeaderItem">
                 <a class="accessibleLink" href="#" id="anch_17" onclick="toggleDropdown(event, '#NAV_1683946577_7');">
                  <div class="top_header">
                   ABOUT US
                  </div>
                  <div class="subHeader">
                   Our Research
                  </div>
                 </a>
                </li>
               </ul>
              </div>
              <!-- END OF NAVIGATION TABS -->
             </div>
            </nav>
           </div>
           <div class="col-sm-1 cb-head-search" id='searchInputBox"'>
            <div class="searchform">
             <form action="/search-results.html" id="searchForm" method="get">
              <fieldset>
               <legend class="sr-only">
                Search the Census website
               </legend>
               <div class="searchbox">
                <label>
                 <span class="sr-only" for="sedarchbox">
                  Enter a term to search on the Census website
                 </span>
                 <input autocomplete="off" id="searchbox" name="q" onblur="if(this.value==''){this.value='Search'}" onfocus="if(this.value=='Search'){this.value=''}" type="text" value="Search"/>
                 <span aria-live="polite" class="ui-help-hidden-accessible" role="status">
                 </span>
                </label>
               </div>
               <input name="page" type="hidden" value="1"/>
               <input id="stateGeo" name="stateGeo" type="hidden" value="none"/>
               <input name="searchtype" type="hidden" value="web"/>
               <input name="cssp" type="hidden" value="SERP"/>
              </fieldset>
             </form>
            </div>
           </div>
          </div>
          <div class="topnavigation topnavdropdown">
           <!-- Body for header elements -->
           <!-- TOPICS TAB BEGINS -->
           <div class="linksDropDown col-lg-12 clearfx" id="NAV_1784167100_1" style="display:none">
            <!-- Topics 2nd level menu, 1st row -->
            <div class="subCategoriesContainer">
             <ul class="nav nav-pills">
              <li class="categories subCategoryButton">
               <a class="accessibleLink" data-target="#NAV_30093459_0TabContent" data-toggle="tab" id="NAV_30093459_0TabLink" onclick="showTab(this);">
                Population
                <span class="glyphicon glyphicon-menu-down" style="font-size: 10px;">
                </span>
               </a>
              </li>
              <li class="categories subCategoryButton">
               <a class="accessibleLink" data-target="#NAV_246571490_0TabContent" data-toggle="tab" id="NAV_246571490_0TabLink" onclick="showTab(this);">
                Economy
                <span class="glyphicon glyphicon-menu-down" style="font-size: 10px;">
                </span>
               </a>
              </li>
              <li class="categories subCategoryButton">
               <a class="accessibleLink" data-target="#NAV_1082186784_0TabContent" data-toggle="tab" id="NAV_1082186784_0TabLink" onclick="showTab(this);">
                Business
                <span class="glyphicon glyphicon-menu-down" style="font-size: 10px;">
                </span>
               </a>
              </li>
              <li class="categories subCategoryButton">
               <a class="accessibleLink" data-target="#NAV_1713211272_0TabContent" data-toggle="tab" id="NAV_1713211272_0TabLink" onclick="showTab(this);">
                Education
                <span class="glyphicon glyphicon-menu-down" style="font-size: 10px;">
                </span>
               </a>
              </li>
             </ul>
             <div class="row tab-content">
              <!--Population begins -->
              <div class="tab-pane fade subCategoryPane" id="NAV_30093459_0TabContent">
               <div class="kicker col-lg-6">
                <p>
                 Our population statistics cover age,
                                                        sex,
                                                        race,
                                                        Hispanic origin, migration, ancestry, language use, veterans, as
                                                        well as
                                                        population estimates and projections.
                </p>
                <div class="row">
                 <div class="col-lg-6">
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population.html">
                    Population Main
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/about.html">
                    About the Population
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/data.html">
                    Data
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/news.html">
                    News
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/publications.html">
                    Population Publications
                   </a>
                  </div>
                 </div>
                 <div class="col-lg-6">
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/stories.html">
                    Population Stories
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/videos.html">
                    Population Videos
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/visualizations.html">
                    Population Visualizations
                   </a>
                  </div>
                  <div class="kickerLink" style="white-space: nowrap;">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/working-papers.html">
                    Population Working Papers
                   </a>
                  </div>
                  <div class="kickerLink">
                   <a class="accessibleLink" href="https://www.census.gov/topics/population/surveys.html">
                    Surveys/Programs
                   </a>
                  </div>
                 </div>
                </div>
               </div>
               <div class="subLinks col-lg-6">
                <div class="row">
                 <div class="col-lg-6">
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/age-and-sex.html">
                    Age and Sex
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/ancestry.html">
                    Ancestry
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/children.html">
                    Children
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/computer-internet.html">
                    Computer and Internet Use
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/foreign-born.html">
                    Foreign Born
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/hispanic-origin.html">
                    Hispanic Origin
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/international.html">
                    International
                   </a>
                  </div>
                 </div>
                 <div class="col-lg-6">
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/language-use.html">
                    Language Use
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/migration.html">
                    Migration/Geographic Mobility
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/population-estimates.html">
                    Population Estimates
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/population-projections.html">
                    Population Projections
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/race.html">
                    Race
                   </a>
                  </div>
                  <div class="subLink">
                   <a class="accessibleLink" href="//www.census.gov/topics/population/veterans.html">
                    Veterans
                   </a>
                  </div>

In [76]:
My_table = soup.findAll("td")
str_cells = str(My_table)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[  January   2019  ,           7,134.3  ,          41,603.8  ,         -34,469.5  ,   February  2019  ,           8,433.6  ,          33,194.4  ,         -24,760.8  ,   March     2019  ,          10,426.5  ,          31,175.7  ,         -20,749.1  ,   April     2019  ,           7,896.3  ,          34,798.9  ,         -26,902.6  ,  TOTAL     2019 ,         33,890.8 ,        140,772.8 ,       -106,882.1 ,   January   2018  ,           9,902.6  ,          45,765.6  ,         -35,863.1  ,   February  2018  ,           9,759.9  ,          39,020.6  ,         -29,260.7  ,   March     2018  ,          12,652.1  ,          38,327.6  ,         -25,675.5  ,   April     2018  ,          10,503.8  ,          38,303.9  ,         -27,800.1  ,   May       2018  ,          10,428.2  ,          43,965.7  ,         -33,537.5  ,   June      2018  ,          10,860.1  ,          44,612.1  ,         -33,752.0  ,   July      2018  ,          10,134.6  ,          47,120.6  ,         -36,986.0  ,   August    2018  ,           9,285.9  ,          47,869.2  ,         -38,583.3  ,   September 2018  ,           9,730.0  ,          50,015.0  ,         -40,285.0  ,   October   2018  ,           9,139.9  ,          52,202.3  ,         -43,062.5  ,   November  2018  ,           8,606.2  ,          46,500.8  ,         -37,894.6  ,   December  2018  ,           9,144.9  ,          45,972.1  ,         -36,827.2  ,  TOTAL     2018 ,        120,148.1 ,        539,675.6 ,       -419,527.4 ,   January   2017  ,           9,955.5  ,          41,339.3  ,         -31,383.8  ,   February  2017  ,           9,739.8  ,          32,788.3  ,         -23,048.5  ,   March     2017  ,           9,720.1  ,          34,162.7  ,         -24,442.6  ,   April     2017  ,           9,806.6  ,          37,443.2  ,         -27,636.7  ,   May       2017  ,           9,880.1  ,          41,760.6  ,         -31,880.6  ,   June      2017  ,           9,718.5  ,          42,261.4  ,         -32,542.9  ,   July      2017  ,           9,955.2  ,          43,565.9  ,         -33,610.7  ,   August    2017  ,          10,824.5  ,          45,788.1  ,         -34,963.6  ,   September 2017  ,          10,896.0  ,          45,409.0  ,         -34,513.1  ,   October   2017  ,          12,963.7  ,          48,137.7  ,         -35,174.0  ,   November  2017  ,          12,707.4  ,          48,107.7  ,         -35,400.3  ,   December  2017  ,          13,630.3  ,          44,456.4  ,         -30,826.1  ,  TOTAL     2017 ,        129,797.6 ,        505,220.2 ,       -375,422.6 ,   January   2016  ,           8,208.9  ,          37,126.4  ,         -28,917.5  ,   February  2016  ,           8,080.5  ,          36,066.9  ,         -27,986.4  ,   March     2016  ,           8,925.6  ,          29,812.3  ,         -20,886.8  ,   April     2016  ,           8,679.7  ,          32,920.2  ,         -24,240.5  ,   May       2016  ,           8,542.0  ,          37,513.7  ,         -28,971.8  ,   June      2016  ,           8,845.6  ,          38,539.2  ,         -29,693.6  ,   July      2016  ,           9,129.7  ,          39,438.9  ,         -30,309.2  ,   August    2016  ,           9,372.9  ,          43,221.8  ,         -33,848.9  ,   September 2016  ,           9,521.2  ,          42,020.9  ,         -32,499.8  ,   October   2016  ,          12,600.0  ,          43,798.1  ,         -31,198.1  ,   November  2016  ,          12,044.1  ,          42,602.6  ,         -30,558.5  ,   December  2016  ,          11,644.8  ,          39,358.9  ,         -27,714.1  ,  TOTAL     2016 ,        115,594.8 ,        462,420.0 ,       -346,825.2 ,   January   2015  ,           9,459.2  ,          38,589.7  ,         -29,130.5  ,   February  2015  ,           8,754.6  ,          31,564.0  ,         -22,809.4  ,   March     2015  ,           9,886.5  ,          41,136.9  ,         -31,250.4  ,   April     2015  ,           9,279.9  ,          36,121.4  ,         -26,841.5  ,   May       2015  ,           8,749.8  ,          39,082.0  ,         -30,332.2  ,   June      2015  ,           9,615.8  ,          41,453.8  ,         -31,838.1  ,   July      2015  ,           9,505.2  ,          41,215.1  ,         -31,709.9  ,   August    2015  ,           9,183.5  ,          44,138.1  ,         -34,954.6  ,   September 2015  ,           9,419.4  ,          45,725.0  ,         -36,305.5  ,   October   2015  ,          11,324.9  ,          44,309.9  ,         -32,985.1  ,   November  2015  ,          10,603.6  ,          41,884.8  ,         -31,281.2  ,   December  2015  ,          10,091.1  ,          37,981.0  ,         -27,889.9  ,  TOTAL     2015 ,        115,873.4 ,        483,201.7 ,       -367,328.3 ,   January   2014  ,          10,264.5  ,          38,377.2  ,         -28,112.7  ,   February  2014  ,           9,750.7  ,          30,700.4  ,         -20,949.7  ,   March     2014  ,          10,934.3  ,          31,420.9  ,         -20,486.6  ,   April     2014  ,           9,031.9  ,          36,450.2  ,         -27,418.3  ,   May       2014  ,           9,220.2  ,          38,188.1  ,         -28,968.0  ,   June      2014  ,           9,330.2  ,          39,607.1  ,         -30,276.9  ,   July      2014  ,           9,291.8  ,          40,319.6  ,         -31,027.8  ,   August    2014  ,           9,625.2  ,          40,093.8  ,         -30,468.6  ,   September 2014  ,           9,314.0  ,          45,102.8  ,         -35,788.8  ,   October   2014  ,          12,593.3  ,          45,335.4  ,         -32,742.0  ,   November  2014  ,          12,125.9  ,          42,483.5  ,         -30,357.6  ,   December  2014  ,          12,175.2  ,          40,395.9  ,         -28,220.7  ,  TOTAL     2014 ,        123,657.2 ,        468,474.9 ,       -344,817.7 ,   January   2013  ,           9,382.9  ,          37,193.7  ,         -27,810.7  ,   February  2013  ,           9,133.3  ,          32,742.7  ,         -23,609.4  ,   March     2013  ,           9,539.0  ,          27,294.1  ,         -17,755.0  ,   April     2013  ,           8,954.0  ,          33,131.9  ,         -24,178.0  ,   May       2013  ,           8,752.8  ,          36,617.6  ,         -27,864.8  ,   June      2013  ,           9,217.6  ,          35,886.0  ,         -26,668.4  ,   July      2013  ,           8,723.7  ,          38,800.4  ,         -30,076.7  ,   August    2013  ,           9,352.1  ,          39,161.3  ,         -29,809.2  ,   September 2013  ,           9,527.2  ,          40,144.4  ,         -30,617.2  ,   October   2013  ,          13,147.8  ,          41,845.5  ,         -28,697.7  ,   November  2013  ,          13,027.1  ,          40,112.3  ,         -27,085.2  ,   December  2013  ,          12,988.7  ,          37,500.2  ,         -24,511.6  ,  TOTAL     2013 ,        121,746.2 ,        440,430.0 ,       -318,683.8 ,   January   2012  ,           8,359.5  ,          34,417.5  ,         -26,058.1  ,   February  2012  ,           8,785.7  ,          28,105.2  ,         -19,319.5  ,   March     2012  ,           9,811.6  ,          31,431.3  ,         -21,619.8  ,   April     2012  ,           8,468.1  ,          33,016.3  ,         -24,548.1  ,   May       2012  ,           8,960.2  ,          34,937.8  ,         -25,977.7  ,   June      2012  ,           8,478.1  ,          35,949.4  ,         -27,471.2  ,   July      2012  ,           8,515.1  ,          37,930.8  ,         -29,415.7  ,   August    2012  ,           8,613.3  ,          37,280.6  ,         -28,667.3  ,   September 2012  ,           8,804.2  ,          37,891.8  ,         -29,087.6  ,   October   2012  ,          10,824.4  ,          40,257.1  ,         -29,432.7  ,   November  2012  ,          10,587.8  ,          39,543.7  ,         -28,955.9  ,   December  2012  ,          10,308.6  ,          34,857.6  ,         -24,548.9  ,  TOTAL     2012 ,        110,516.6 ,        425,619.1 ,       -315,102.5 ,   January   2011  ,           8,017.8  ,          31,377.4  ,         -23,359.6  ,   February  2011  ,           8,383.3  ,          27,244.7  ,         -18,861.4  ,   March     2011  ,           9,563.7  ,          27,599.7  ,         -18,035.9  ,   April     2011  ,           8,000.5  ,          29,580.3  ,         -21,579.8  ,   May       2011  ,           7,849.2  ,          32,788.1  ,         -24,938.9  ,   June      2011  ,           7,867.0  ,          34,374.8  ,         -26,507.8  ,   July      2011  ,           8,157.9  ,          35,152.2  ,         -26,994.3  ,   August    2011  ,           8,421.6  ,          37,374.1  ,         -28,952.5  ,   September 2011  ,           8,370.1  ,          36,418.6  ,         -28,048.6  ,   October   2011  ,           9,745.6  ,          37,824.1  ,         -28,078.5  ,   November  2011  ,           9,997.2  ,          36,764.9  ,         -26,767.7  ,   December  2011  ,           9,747.7  ,          32,872.3  ,         -23,124.6  ,  TOTAL     2011 ,        104,121.5 ,        399,371.2 ,       -295,249.7 ,   January   2010  ,           6,898.4  ,          25,215.9  ,         -18,317.6  ,   February  2010  ,           6,840.2  ,          23,342.8  ,         -16,502.6  ,   March     2010  ,           7,400.8  ,          24,292.2  ,         -16,891.4  ,   April     2010  ,           6,600.7  ,          25,920.2  ,         -19,319.5  ,   May       2010  ,           6,755.3  ,          29,052.4  ,         -22,297.2  ,   June      2010  ,           6,733.7  ,          32,843.1  ,         -26,109.4  ,   July      2010  ,           7,339.3  ,          33,266.8  ,         -25,927.6  ,   August    2010  ,           7,209.7  ,          35,375.3  ,         -28,165.6  ,   September 2010  ,           7,114.3  ,          35,196.7  ,         -28,082.4  ,   October   2010  ,           9,417.3  ,          35,083.3  ,         -25,666.0  ,   November  2010  ,           9,475.8  ,          34,564.3  ,         -25,088.4  ,   December  2010  ,          10,125.6  ,          30,799.6  ,         -20,674.0  ,  TOTAL     2010 ,         91,911.1 ,        364,952.6 ,       -273,041.6 ,   January   2009  ,           4,159.6  ,          24,743.5  ,         -20,583.8  ,   February  2009  ,           4,661.7  ,          18,845.5  ,         -14,183.8  ,   March     2009  ,           5,579.3  ,          21,224.7  ,         -15,645.5  ,   April     2009  ,           5,161.4  ,          21,920.6  ,         -16,759.2  ,   May       2009  ,           5,256.0  ,          22,734.1  ,         -17,478.1  ,   June      2009  ,           5,548.6  ,          23,972.8  ,         -18,424.2  ,   July      2009  ,           5,269.3  ,          25,671.1  ,         -20,401.8  ,   August    2009  ,           5,518.0  ,          25,798.1  ,         -20,280.1  ,   September 2009  ,           5,764.3  ,          27,893.9  ,         -22,129.6  ,   October   2009  ,           6,879.3  ,          29,557.8  ,         -22,678.5  ,   November  2009  ,           7,374.2  ,          27,541.7  ,         -20,167.6  ,   December  2009  ,           8,325.0  ,          26,470.1  ,         -18,145.1  ,  TOTAL     2009 ,         69,496.7 ,        296,373.9 ,       -226,877.2 ,   January   2008  ,           5,556.7  ,          26,193.0  ,         -20,636.3  ,   February  2008  ,           5,698.1  ,          24,095.9  ,         -18,397.8  ,   March     2008  ,           6,294.4  ,          22,440.2  ,         -16,145.9  ,   April     2008  ,           5,651.2  ,          25,951.7  ,         -20,300.4  ,   May       2008  ,           6,275.7  ,          27,634.5  ,         -21,358.9  ,   June      2008  ,           6,188.2  ,          27,930.6  ,         -21,742.5  ,   July      2008  ,           6,234.6  ,          31,247.3  ,         -25,012.6  ,   August    2008  ,           6,201.3  ,          31,823.7  ,         -25,622.4  ,   September 2008  ,           5,257.6  ,          33,078.7  ,         -27,821.1  ,   October   2008  ,           6,083.4  ,          34,032.4  ,         -27,949.0  ,   November  2008  ,           5,181.0  ,          28,265.0  ,         -23,084.1  ,   December  2008  ,           5,110.7  ,          25,079.5  ,         -19,968.8  ,  TOTAL     2008 ,         69,732.8 ,        337,772.6 ,       -268,039.8 ,   January   2007  ,           4,389.5  ,          25,640.6  ,         -21,251.0  ,   February  2007  ,           4,532.9  ,          23,038.9  ,         -18,506.0  ,   March     2007  ,           5,425.4  ,          22,723.0  ,         -17,297.7  ,   April     2007  ,           4,704.0  ,          24,241.5  ,         -19,537.6  ,   May       2007  ,           5,129.4  ,          25,290.6  ,         -20,161.1  ,   June      2007  ,           5,561.8  ,          27,071.0  ,         -21,509.2  ,   July      2007  ,           4,665.9  ,          28,601.2  ,         -23,935.2  ,   August    2007  ,           5,552.8  ,          28,424.5  ,         -22,871.7  ,   September 2007  ,           5,311.9  ,          29,419.0  ,         -24,107.1  ,   October   2007  ,           5,532.9  ,          31,555.4  ,         -26,022.5  ,   November  2007  ,           5,581.5  ,          29,780.7  ,         -24,199.2  ,   December  2007  ,           6,548.9  ,          25,656.6  ,         -19,107.7  ,  TOTAL     2007 ,         62,936.9 ,        321,442.9 ,       -258,506.0 ,   January   2006  ,           3,396.9  ,          21,382.5  ,         -17,985.6  ,   February  2006  ,           4,072.2  ,          17,905.4  ,         -13,833.1  ,   March     2006  ,           4,867.1  ,          20,531.3  ,         -15,664.2  ,   April     2006  ,           4,232.4  ,          21,459.1  ,         -17,226.7  ,   May       2006  ,           4,434.1  ,          22,317.6  ,         -17,883.5  ,   June      2006  ,           4,302.9  ,          23,989.7  ,         -19,686.8  ,   July      2006  ,           4,806.3  ,          24,632.0  ,         -19,825.7  ,   August    2006  ,           4,603.3  ,          26,713.3  ,         -22,110.1  ,   September 2006  ,           4,461.0  ,          27,570.6  ,         -23,109.6  ,   October   2006  ,           4,885.3  ,          29,388.6  ,         -24,503.3  ,   November  2006  ,           4,595.8  ,          27,775.1  ,         -23,179.3  ,   December  2006  ,           5,015.8  ,          24,109.2  ,         -19,093.4  ,  TOTAL     2006 ,         53,673.0 ,        287,774.4 ,       -234,101.3 ,   January   2005  ,           2,609.3  ,          17,885.8  ,         -15,276.5  ,   February  2005  ,           3,058.1  ,          16,937.6  ,         -13,879.5  ,   March     2005  ,           3,336.4  ,          16,184.9  ,         -12,848.6  ,   April     2005  ,           3,263.7  ,          18,148.5  ,         -14,884.8  ,   May       2005  ,           3,222.9  ,          19,053.2  ,         -15,830.3  ,   June      2005  ,           3,370.7  ,          20,976.7  ,         -17,606.0  ,   July      2005  ,           3,560.0  ,          21,272.7  ,         -17,712.7  ,   August    2005  ,           3,728.7  ,          22,421.3  ,         -18,692.6  ,   September 2005  ,           3,165.8  ,          23,294.5  ,         -20,128.7  ,   October   2005  ,           3,899.2  ,          24,382.9  ,         -20,483.7  ,   November  2005  ,           3,807.5  ,          22,426.1  ,         -18,618.6  ,   December  2005  ,           4,169.8  ,          20,486.0  ,         -16,316.2  ,  TOTAL     2005 ,         41,192.0 ,        243,470.1 ,       -202,278.1 ,   January   2004  ,           2,620.5  ,          14,089.0  ,         -11,468.5  ,   February  2004  ,           2,929.0  ,          11,267.1  ,          -8,338.2  ,   March     2004  ,           3,361.9  ,          13,800.1  ,         -10,438.2  ,   April     2004  ,           2,734.6  ,          14,744.8  ,         -12,010.2  ,   May       2004  ,           2,835.1  ,          15,067.1  ,         -12,232.1  ,   June      2004  ,           2,764.2  ,          16,887.8  ,         -14,123.5  ,   July      2004  ,           2,618.8  ,          17,562.1  ,         -14,943.3  ,   August    2004  ,           2,621.0  ,          18,067.9  ,         -15,446.9  ,   September 2004  ,           2,823.1  ,          18,386.9  ,         -15,563.9  ,   October   2004  ,           2,946.7  ,          19,718.2  ,         -16,771.4  ,   November  2004  ,           2,938.2  ,          19,679.0  ,         -16,740.8  ,   December  2004  ,           3,234.8  ,          17,412.0  ,         -14,177.2  ,  TOTAL     2004 ,         34,427.8 ,        196,682.0 ,       -162,254.3 ,   January   2003  ,           2,069.8  ,          11,403.5  ,          -9,333.7  ,   February  2003  ,           2,048.7  ,           9,629.6  ,          -7,581.0  ,   March     2003  ,           2,423.1  ,          10,110.0  ,          -7,686.9  ,   April     2003  ,           2,121.9  ,          11,521.9  ,          -9,399.9  ,   May       2003  ,           1,984.3  ,          11,884.7  ,          -9,900.4  ,   June      2003  ,           2,119.6  ,          12,127.3  ,         -10,007.7  ,   July      2003  ,           2,067.4  ,          13,438.6  ,         -11,371.2  ,   August    2003  ,           2,034.4  ,          13,764.9  ,         -11,730.4  ,   September 2003  ,           2,091.0  ,          14,747.5  ,         -12,656.5  ,   October   2003  ,           2,778.3  ,          16,458.3  ,         -13,680.0  ,   November  2003  ,           3,319.7  ,          14,156.9  ,         -10,837.3  ,   December  2003  ,           3,309.6  ,          13,192.8  ,          -9,883.2  ,  TOTAL     2003 ,         28,367.9 ,        152,436.1 ,       -124,068.2 ,   January   2002  ,           1,569.3  ,           8,415.4  ,          -6,846.1  ,   February  2002  ,           1,529.5  ,           8,020.8  ,          -6,491.3  ,   March     2002  ,           1,620.5  ,           7,259.0  ,          -5,638.5  ,   April     2002  ,           1,544.5  ,           9,097.6  ,          -7,553.1  ,   May       2002  ,           1,773.9  ,           9,846.9  ,          -8,073.0  ,   June      2002  ,           2,205.9  ,          10,727.2  ,          -8,521.3  ,   July      2002  ,           1,848.0  ,          11,213.2  ,          -9,365.2  ,   August    2002  ,           1,839.8  ,          12,671.4  ,         -10,831.6  ,   September 2002  ,           2,023.7  ,          12,291.5  ,         -10,267.8  ,   October   2002  ,           1,962.7  ,          11,455.0  ,          -9,492.3  ,   November  2002  ,           2,160.8  ,          12,569.6  ,         -10,408.8  ,   December  2002  ,           2,049.1  ,          11,625.0  ,          -9,575.9  ,  TOTAL     2002 ,         22,127.7 ,        125,192.6 ,       -103,064.9 ,   January   2001  ,           1,187.5  ,           8,427.5  ,          -7,240.0  ,   February  2001  ,           1,289.8  ,           6,375.6  ,          -5,085.8  ,   March     2001  ,           1,855.8  ,           7,590.2  ,          -5,734.4  ,   April     2001  ,           1,398.9  ,           7,686.8  ,          -6,287.9  ,   May       2001  ,           1,596.0  ,           7,757.9  ,          -6,161.9  ,   June      2001  ,           1,786.4  ,           8,398.2  ,          -6,611.8  ,   July      2001  ,           1,487.0  ,           8,975.3  ,          -7,488.3  ,   August    2001  ,           1,929.7  ,          10,042.9  ,          -8,113.2  ,   September 2001  ,           1,427.8  ,           9,927.8  ,          -8,500.0  ,   October   2001  ,           1,647.7  ,          10,808.3  ,          -9,160.6  ,   November  2001  ,           1,674.5  ,           8,878.8  ,          -7,204.3  ,   December  2001  ,           1,901.2  ,           7,409.1  ,          -5,507.9  ,  TOTAL     2001 ,         19,182.3 ,        102,278.4 ,        -83,096.1 ,   January   2000  ,             863.1  ,           6,902.1  ,          -6,039.0  ,   February  2000  ,             972.7  ,           6,584.4  ,          -5,611.7  ,   March     2000  ,           1,330.5  ,           6,424.1  ,          -5,093.6  ,   April     2000  ,           1,227.5  ,           7,070.5  ,    

In [77]:
cleantext=" ".join(cleantext.split())
cleantext

'[ January 2019 , 7,134.3 , 41,603.8 , -34,469.5 , February 2019 , 8,433.6 , 33,194.4 , -24,760.8 , March 2019 , 10,426.5 , 31,175.7 , -20,749.1 , April 2019 , 7,896.3 , 34,798.9 , -26,902.6 , TOTAL 2019 , 33,890.8 , 140,772.8 , -106,882.1 , January 2018 , 9,902.6 , 45,765.6 , -35,863.1 , February 2018 , 9,759.9 , 39,020.6 , -29,260.7 , March 2018 , 12,652.1 , 38,327.6 , -25,675.5 , April 2018 , 10,503.8 , 38,303.9 , -27,800.1 , May 2018 , 10,428.2 , 43,965.7 , -33,537.5 , June 2018 , 10,860.1 , 44,612.1 , -33,752.0 , July 2018 , 10,134.6 , 47,120.6 , -36,986.0 , August 2018 , 9,285.9 , 47,869.2 , -38,583.3 , September 2018 , 9,730.0 , 50,015.0 , -40,285.0 , October 2018 , 9,139.9 , 52,202.3 , -43,062.5 , November 2018 , 8,606.2 , 46,500.8 , -37,894.6 , December 2018 , 9,144.9 , 45,972.1 , -36,827.2 , TOTAL 2018 , 120,148.1 , 539,675.6 , -419,527.4 , January 2017 , 9,955.5 , 41,339.3 , -31,383.8 , February 2017 , 9,739.8 , 32,788.3 , -23,048.5 , March 2017 , 9,720.1 , 34,162.7 , -24,442.6 , April 2017 , 9,806.6 , 37,443.2 , -27,636.7 , May 2017 , 9,880.1 , 41,760.6 , -31,880.6 , June 2017 , 9,718.5 , 42,261.4 , -32,542.9 , July 2017 , 9,955.2 , 43,565.9 , -33,610.7 , August 2017 , 10,824.5 , 45,788.1 , -34,963.6 , September 2017 , 10,896.0 , 45,409.0 , -34,513.1 , October 2017 , 12,963.7 , 48,137.7 , -35,174.0 , November 2017 , 12,707.4 , 48,107.7 , -35,400.3 , December 2017 , 13,630.3 , 44,456.4 , -30,826.1 , TOTAL 2017 , 129,797.6 , 505,220.2 , -375,422.6 , January 2016 , 8,208.9 , 37,126.4 , -28,917.5 , February 2016 , 8,080.5 , 36,066.9 , -27,986.4 , March 2016 , 8,925.6 , 29,812.3 , -20,886.8 , April 2016 , 8,679.7 , 32,920.2 , -24,240.5 , May 2016 , 8,542.0 , 37,513.7 , -28,971.8 , June 2016 , 8,845.6 , 38,539.2 , -29,693.6 , July 2016 , 9,129.7 , 39,438.9 , -30,309.2 , August 2016 , 9,372.9 , 43,221.8 , -33,848.9 , September 2016 , 9,521.2 , 42,020.9 , -32,499.8 , October 2016 , 12,600.0 , 43,798.1 , -31,198.1 , November 2016 , 12,044.1 , 42,602.6 , -30,558.5 , December 2016 , 11,644.8 , 39,358.9 , -27,714.1 , TOTAL 2016 , 115,594.8 , 462,420.0 , -346,825.2 , January 2015 , 9,459.2 , 38,589.7 , -29,130.5 , February 2015 , 8,754.6 , 31,564.0 , -22,809.4 , March 2015 , 9,886.5 , 41,136.9 , -31,250.4 , April 2015 , 9,279.9 , 36,121.4 , -26,841.5 , May 2015 , 8,749.8 , 39,082.0 , -30,332.2 , June 2015 , 9,615.8 , 41,453.8 , -31,838.1 , July 2015 , 9,505.2 , 41,215.1 , -31,709.9 , August 2015 , 9,183.5 , 44,138.1 , -34,954.6 , September 2015 , 9,419.4 , 45,725.0 , -36,305.5 , October 2015 , 11,324.9 , 44,309.9 , -32,985.1 , November 2015 , 10,603.6 , 41,884.8 , -31,281.2 , December 2015 , 10,091.1 , 37,981.0 , -27,889.9 , TOTAL 2015 , 115,873.4 , 483,201.7 , -367,328.3 , January 2014 , 10,264.5 , 38,377.2 , -28,112.7 , February 2014 , 9,750.7 , 30,700.4 , -20,949.7 , March 2014 , 10,934.3 , 31,420.9 , -20,486.6 , April 2014 , 9,031.9 , 36,450.2 , -27,418.3 , May 2014 , 9,220.2 , 38,188.1 , -28,968.0 , June 2014 , 9,330.2 , 39,607.1 , -30,276.9 , July 2014 , 9,291.8 , 40,319.6 , -31,027.8 , August 2014 , 9,625.2 , 40,093.8 , -30,468.6 , September 2014 , 9,314.0 , 45,102.8 , -35,788.8 , October 2014 , 12,593.3 , 45,335.4 , -32,742.0 , November 2014 , 12,125.9 , 42,483.5 , -30,357.6 , December 2014 , 12,175.2 , 40,395.9 , -28,220.7 , TOTAL 2014 , 123,657.2 , 468,474.9 , -344,817.7 , January 2013 , 9,382.9 , 37,193.7 , -27,810.7 , February 2013 , 9,133.3 , 32,742.7 , -23,609.4 , March 2013 , 9,539.0 , 27,294.1 , -17,755.0 , April 2013 , 8,954.0 , 33,131.9 , -24,178.0 , May 2013 , 8,752.8 , 36,617.6 , -27,864.8 , June 2013 , 9,217.6 , 35,886.0 , -26,668.4 , July 2013 , 8,723.7 , 38,800.4 , -30,076.7 , August 2013 , 9,352.1 , 39,161.3 , -29,809.2 , September 2013 , 9,527.2 , 40,144.4 , -30,617.2 , October 2013 , 13,147.8 , 41,845.5 , -28,697.7 , November 2013 , 13,027.1 , 40,112.3 , -27,085.2 , December 2013 , 12,988.7 , 37,500.2 , -24,511.6 , TOTAL 2013 , 121,746.2 , 440,430.0 , -318,683.8 , January 2012 , 8,359.5 , 34,417.5 , -26,058.1 , February 2012 , 8,785.7 , 28,105.2 , -19,319.5 , March 2012 , 9,811.6 , 31,431.3 , -21,619.8 , April 2012 , 8,468.1 , 33,016.3 , -24,548.1 , May 2012 , 8,960.2 , 34,937.8 , -25,977.7 , June 2012 , 8,478.1 , 35,949.4 , -27,471.2 , July 2012 , 8,515.1 , 37,930.8 , -29,415.7 , August 2012 , 8,613.3 , 37,280.6 , -28,667.3 , September 2012 , 8,804.2 , 37,891.8 , -29,087.6 , October 2012 , 10,824.4 , 40,257.1 , -29,432.7 , November 2012 , 10,587.8 , 39,543.7 , -28,955.9 , December 2012 , 10,308.6 , 34,857.6 , -24,548.9 , TOTAL 2012 , 110,516.6 , 425,619.1 , -315,102.5 , January 2011 , 8,017.8 , 31,377.4 , -23,359.6 , February 2011 , 8,383.3 , 27,244.7 , -18,861.4 , March 2011 , 9,563.7 , 27,599.7 , -18,035.9 , April 2011 , 8,000.5 , 29,580.3 , -21,579.8 , May 2011 , 7,849.2 , 32,788.1 , -24,938.9 , June 2011 , 7,867.0 , 34,374.8 , -26,507.8 , July 2011 , 8,157.9 , 35,152.2 , -26,994.3 , August 2011 , 8,421.6 , 37,374.1 , -28,952.5 , September 2011 , 8,370.1 , 36,418.6 , -28,048.6 , October 2011 , 9,745.6 , 37,824.1 , -28,078.5 , November 2011 , 9,997.2 , 36,764.9 , -26,767.7 , December 2011 , 9,747.7 , 32,872.3 , -23,124.6 , TOTAL 2011 , 104,121.5 , 399,371.2 , -295,249.7 , January 2010 , 6,898.4 , 25,215.9 , -18,317.6 , February 2010 , 6,840.2 , 23,342.8 , -16,502.6 , March 2010 , 7,400.8 , 24,292.2 , -16,891.4 , April 2010 , 6,600.7 , 25,920.2 , -19,319.5 , May 2010 , 6,755.3 , 29,052.4 , -22,297.2 , June 2010 , 6,733.7 , 32,843.1 , -26,109.4 , July 2010 , 7,339.3 , 33,266.8 , -25,927.6 , August 2010 , 7,209.7 , 35,375.3 , -28,165.6 , September 2010 , 7,114.3 , 35,196.7 , -28,082.4 , October 2010 , 9,417.3 , 35,083.3 , -25,666.0 , November 2010 , 9,475.8 , 34,564.3 , -25,088.4 , December 2010 , 10,125.6 , 30,799.6 , -20,674.0 , TOTAL 2010 , 91,911.1 , 364,952.6 , -273,041.6 , January 2009 , 4,159.6 , 24,743.5 , -20,583.8 , February 2009 , 4,661.7 , 18,845.5 , -14,183.8 , March 2009 , 5,579.3 , 21,224.7 , -15,645.5 , April 2009 , 5,161.4 , 21,920.6 , -16,759.2 , May 2009 , 5,256.0 , 22,734.1 , -17,478.1 , June 2009 , 5,548.6 , 23,972.8 , -18,424.2 , July 2009 , 5,269.3 , 25,671.1 , -20,401.8 , August 2009 , 5,518.0 , 25,798.1 , -20,280.1 , September 2009 , 5,764.3 , 27,893.9 , -22,129.6 , October 2009 , 6,879.3 , 29,557.8 , -22,678.5 , November 2009 , 7,374.2 , 27,541.7 , -20,167.6 , December 2009 , 8,325.0 , 26,470.1 , -18,145.1 , TOTAL 2009 , 69,496.7 , 296,373.9 , -226,877.2 , January 2008 , 5,556.7 , 26,193.0 , -20,636.3 , February 2008 , 5,698.1 , 24,095.9 , -18,397.8 , March 2008 , 6,294.4 , 22,440.2 , -16,145.9 , April 2008 , 5,651.2 , 25,951.7 , -20,300.4 , May 2008 , 6,275.7 , 27,634.5 , -21,358.9 , June 2008 , 6,188.2 , 27,930.6 , -21,742.5 , July 2008 , 6,234.6 , 31,247.3 , -25,012.6 , August 2008 , 6,201.3 , 31,823.7 , -25,622.4 , September 2008 , 5,257.6 , 33,078.7 , -27,821.1 , October 2008 , 6,083.4 , 34,032.4 , -27,949.0 , November 2008 , 5,181.0 , 28,265.0 , -23,084.1 , December 2008 , 5,110.7 , 25,079.5 , -19,968.8 , TOTAL 2008 , 69,732.8 , 337,772.6 , -268,039.8 , January 2007 , 4,389.5 , 25,640.6 , -21,251.0 , February 2007 , 4,532.9 , 23,038.9 , -18,506.0 , March 2007 , 5,425.4 , 22,723.0 , -17,297.7 , April 2007 , 4,704.0 , 24,241.5 , -19,537.6 , May 2007 , 5,129.4 , 25,290.6 , -20,161.1 , June 2007 , 5,561.8 , 27,071.0 , -21,509.2 , July 2007 , 4,665.9 , 28,601.2 , -23,935.2 , August 2007 , 5,552.8 , 28,424.5 , -22,871.7 , September 2007 , 5,311.9 , 29,419.0 , -24,107.1 , October 2007 , 5,532.9 , 31,555.4 , -26,022.5 , November 2007 , 5,581.5 , 29,780.7 , -24,199.2 , December 2007 , 6,548.9 , 25,656.6 , -19,107.7 , TOTAL 2007 , 62,936.9 , 321,442.9 , -258,506.0 , January 2006 , 3,396.9 , 21,382.5 , -17,985.6 , February 2006 , 4,072.2 , 17,905.4 , -13,833.1 , March 2006 , 4,867.1 , 20,531.3 , -15,664.2 , April 2006 , 4,232.4 , 21,459.1 , -17,226.7 , May 2006 , 4,434.1 , 22,317.6 , -17,883.5 , June 2006 , 4,302.9 , 23,989.7 , -19,686.8 , July 2006 , 4,806.3 , 24,632.0 , -19,825.7 , August 2006 , 4,603.3 , 26,713.3 , -22,110.1 , September 2006 , 4,461.0 , 27,570.6 , -23,109.6 , October 2006 , 4,885.3 , 29,388.6 , -24,503.3 , November 2006 , 4,595.8 , 27,775.1 , -23,179.3 , December 2006 , 5,015.8 , 24,109.2 , -19,093.4 , TOTAL 2006 , 53,673.0 , 287,774.4 , -234,101.3 , January 2005 , 2,609.3 , 17,885.8 , -15,276.5 , February 2005 , 3,058.1 , 16,937.6 , -13,879.5 , March 2005 , 3,336.4 , 16,184.9 , -12,848.6 , April 2005 , 3,263.7 , 18,148.5 , -14,884.8 , May 2005 , 3,222.9 , 19,053.2 , -15,830.3 , June 2005 , 3,370.7 , 20,976.7 , -17,606.0 , July 2005 , 3,560.0 , 21,272.7 , -17,712.7 , August 2005 , 3,728.7 , 22,421.3 , -18,692.6 , September 2005 , 3,165.8 , 23,294.5 , -20,128.7 , October 2005 , 3,899.2 , 24,382.9 , -20,483.7 , November 2005 , 3,807.5 , 22,426.1 , -18,618.6 , December 2005 , 4,169.8 , 20,486.0 , -16,316.2 , TOTAL 2005 , 41,192.0 , 243,470.1 , -202,278.1 , January 2004 , 2,620.5 , 14,089.0 , -11,468.5 , February 2004 , 2,929.0 , 11,267.1 , -8,338.2 , March 2004 , 3,361.9 , 13,800.1 , -10,438.2 , April 2004 , 2,734.6 , 14,744.8 , -12,010.2 , May 2004 , 2,835.1 , 15,067.1 , -12,232.1 , June 2004 , 2,764.2 , 16,887.8 , -14,123.5 , July 2004 , 2,618.8 , 17,562.1 , -14,943.3 , August 2004 , 2,621.0 , 18,067.9 , -15,446.9 , September 2004 , 2,823.1 , 18,386.9 , -15,563.9 , October 2004 , 2,946.7 , 19,718.2 , -16,771.4 , November 2004 , 2,938.2 , 19,679.0 , -16,740.8 , December 2004 , 3,234.8 , 17,412.0 , -14,177.2 , TOTAL 2004 , 34,427.8 , 196,682.0 , -162,254.3 , January 2003 , 2,069.8 , 11,403.5 , -9,333.7 , February 2003 , 2,048.7 , 9,629.6 , -7,581.0 , March 2003 , 2,423.1 , 10,110.0 , -7,686.9 , April 2003 , 2,121.9 , 11,521.9 , -9,399.9 , May 2003 , 1,984.3 , 11,884.7 , -9,900.4 , June 2003 , 2,119.6 , 12,127.3 , -10,007.7 , July 2003 , 2,067.4 , 13,438.6 , -11,371.2 , August 2003 , 2,034.4 , 13,764.9 , -11,730.4 , September 2003 , 2,091.0 , 14,747.5 , -12,656.5 , October 2003 , 2,778.3 , 16,458.3 , -13,680.0 , November 2003 , 3,319.7 , 14,156.9 , -10,837.3 , December 2003 , 3,309.6 , 13,192.8 , -9,883.2 , TOTAL 2003 , 28,367.9 , 152,436.1 , -124,068.2 , January 2002 , 1,569.3 , 8,415.4 , -6,846.1 , February 2002 , 1,529.5 , 8,020.8 , -6,491.3 , March 2002 , 1,620.5 , 7,259.0 , -5,638.5 , April 2002 , 1,544.5 , 9,097.6 , -7,553.1 , May 2002 , 1,773.9 , 9,846.9 , -8,073.0 , June 2002 , 2,205.9 , 10,727.2 , -8,521.3 , July 2002 , 1,848.0 , 11,213.2 , -9,365.2 , August 2002 , 1,839.8 , 12,671.4 , -10,831.6 , September 2002 , 2,023.7 , 12,291.5 , -10,267.8 , October 2002 , 1,962.7 , 11,455.0 , -9,492.3 , November 2002 , 2,160.8 , 12,569.6 , -10,408.8 , December 2002 , 2,049.1 , 11,625.0 , -9,575.9 , TOTAL 2002 , 22,127.7 , 125,192.6 , -103,064.9 , January 2001 , 1,187.5 , 8,427.5 , -7,240.0 , February 2001 , 1,289.8 , 6,375.6 , -5,085.8 , March 2001 , 1,855.8 , 7,590.2 , -5,734.4 , April 2001 , 1,398.9 , 7,686.8 , -6,287.9 , May 2001 , 1,596.0 , 7,757.9 , -6,161.9 , June 2001 , 1,786.4 , 8,398.2 , -6,611.8 , July 2001 , 1,487.0 , 8,975.3 , -7,488.3 , August 2001 , 1,929.7 , 10,042.9 , -8,113.2 , September 2001 , 1,427.8 , 9,927.8 , -8,500.0 , October 2001 , 1,647.7 , 10,808.3 , -9,160.6 , November 2001 , 1,674.5 , 8,878.8 , -7,204.3 , December 2001 , 1,901.2 , 7,409.1 , -5,507.9 , TOTAL 2001 , 19,182.3 , 102,278.4 , -83,096.1 , January 2000 , 863.1 , 6,902.1 , -6,039.0 , February 2000 , 972.7 , 6,584.4 , -5,611.7 , March 2000 , 1,330.5 , 6,424.1 , -5,093.6 , April 2000 , 1,227.5 , 7,070.5 , -5,843.0 , May 2000 , 1,526.3 , 7,850.2 , -6,323.9 , June 2000 , 1,335.6 , 8,541.7 , -7,206.1 , July 2000 , 1,642.8 , 9,246.4 , -7,603.6 , August 2000 , 1,429.0 , 10,054.0 , -8,625.0 , September 2000 , 1,333.3 , 10,061.7 , -8,728.4 , October 2000 , 1,487.3 , 10,611.6 , -9,124.3 , November 2000 , 1,450.4 , 9,066.8 , -7,616.4 , December 2000 , 1,586.7 , 7,604.7 , -6,018.0 , TOTAL 2000 , 16,185.2 , 100,018.2 , -83,833.0 , January 1999 , 781.3 , 5,654.0 , -4,872.7 , February 1999 , 923.9 , 5,563.1 , -4,639.2 , March 1999 , 1,076.0 , 5,204.0 , -4,128.0 , April 1999 , 1,035.0 , 5,818.9 , -4,783.9 , May 1999 , 1,113.8 , 6,363.1 , -5,249.3 , June 1999 , 1,442.0 , 7,117.4 , -5,675.4 , July 1999 , 1,074.0 , 7,405.7 , -6,331.7 , August 1999 , 1,151.3 , 8,022.1 , -6,870.8 , September 1999 , 1,325.3 , 8,198.2 , -6,872.9 , October 1999 , 1,069.1 , 8,207.9 , -7,138.8 , November 1999 , 1,025.5 , 7,543.5 , -6,518.0 , December 1999 , 1,093.9 , 6,690.3 , -5,596.4 , TOTAL 1999 , 13,111.1 , 81,788.2 , -68,677.1 , January 1998 , 1,271.1 , 5,453.2 , -4,182.1 , February 1998 , 1,019.3 , 4,559.6 , -3,540.3 , March 1998 , 1,034.2 , 4,798.1 , -3,763.9 , April 1998 , 984.9 , 5,262.9 , -4,278.0 , May 1998 , 911.3 , 5,539.4 , -4,628.1 , June 1998 , 1,282.7 , 6,020.2 , -4,737.5 , July 1998 , 1,100.8 , 6,556.2 , -5,455.4 , August 1998 , 869.9 , 6,779.9 , -5,910.0 , September 1998 , 1,214.9 , 7,125.2 , -5,910.3 , October 1998 , 1,855.2 , 7,377.7 , -5,522.5 , November 1998 , 1,317.2 , 6,374.1 , -5,056.9 , December 1998 , 1,379.7 , 5,322.1 , -3,942.4 , TOTAL 1998 , 14,241.2 , 71,168.6 , -56,927.4 , January 1997 , 938.4 , 4,667.6 , -3,729.2 , February 1997 , 913.3 , 4,262.4 , -3,349.1 , March 1997 , 1,021.6 , 3,628.6 , -2,607.0 , April 1997 , 964.7 , 4,445.0 , -3,480.3 , May 1997 , 1,056.8 , 4,795.1 , -3,738.3 , June 1997 , 920.3 , 5,213.5 , -4,293.2 , July 1997 , 1,097.1 , 5,777.2 , -4,680.1 , August 1997 , 938.0 , 6,073.6 , -5,135.6 , September 1997 , 1,039.8 , 6,561.4 , -5,521.6 , October 1997 , 1,438.8 , 6,606.5 , -5,167.7 , November 1997 , 1,300.7 , 5,425.7 , -4,125.0 , December 1997 , 1,232.7 , 5,101.1 , -3,868.4 , TOTAL 1997 , 12,862.2 , 62,557.7 , -49,695.5 , January 1996 , 929.2 , 3,657.7 , -2,728.5 , February 1996 , 1,146.9 , 3,539.6 , -2,392.7 , March 1996 , 1,092.5 , 2,863.7 , -1,771.2 , April 1996 , 841.3 , 3,247.9 , -2,406.6 , May 1996 , 881.6 , 3,954.3 , -3,072.7 , June 1996 , 771.6 , 4,111.2 , -3,339.6 , July 1996 , 998.2 , 4,816.7 , -3,818.5 , August 1996 , 778.3 , 5,495.7 , -4,717.4 , September 1996 , 753.4 , 5,480.7 , -4,727.3 , October 1996 , 927.5 , 5,812.9 , -4,885.4 , November 1996 , 1,586.4 , 4,585.4 , -2,999.0 , December 1996 , 1,285.7 , 3,947.0 , -2,661.3 , TOTAL 1996 , 11,992.6 , 51,512.8 , -39,520.2 , January 1995 , 744.9 , 3,450.6 , -2,705.7 , February 1995 , 1,085.5 , 3,001.5 , -1,916.0 , March 1995 , 1,070.1 , 2,910.4 , -1,840.3 , April 1995 , 896.4 , 3,148.3 , -2,251.9 , May 1995 , 831.0 , 3,654.9 , -2,823.9 , June 1995 , 946.7 , 3,960.7 , -3,014.0 , July 1995 , 985.7 , 4,311.8 , -3,326.1 , August 1995 , 881.4 , 4,804.7 , -3,923.3 , September 1995 , 959.6 , 4,584.1 , -3,624.5 , October 1995 , 1,097.4 , 4,714.3 , -3,616.9 , November 1995 , 1,124.7 , 3,868.0 , -2,743.3 , December 1995 , 1,130.3 , 3,133.9 , -2,003.6 , TOTAL 1995 , 11,753.7 , 45,543.2 , -33,789.5 , January 1994 , 551.0 , 2,763.1 , -2,212.1 , February 1994 , 877.9 , 2,499.2 , -1,621.3 , March 1994 , 783.7 , 2,183.0 , -1,399.3 , April 1994 , 712.7 , 2,491.6 , -1,778.9 , May 1994 , 757.3 , 2,979.0 , -2,221.7 , June 1994 , 1,009.4 , 3,463.3 , -2,453.9 , July 1994 , 970.4 , 3,645.4 , -2,675.0 , August 1994 , 926.4 , 4,165.8 , -3,239.4 , September 1994 , 628.5 , 4,134.4 , -3,505.9 , October 1994 , 618.4 , 4,101.2 , -3,482.8 , November 1994 , 648.0 , 3,534.3 , -2,886.3 , December 1994 , 798.0 , 2,826.5 , -2,028.5 , TOTAL 1994 , 9,281.7 , 38,786.8 , -29,505.1 , January 1993 , 620.7 , 2,187.6 , -1,566.9 , February 1993 , 683.8 , 1,862.4 , -1,178.6 , March 1993 , 621.6 , 2,083.2 , -1,461.6 , April 1993 , 728.4 , 2,226.3 , -1,497.9 , May 1993 , 586.2 , 2,376.3 , -1,790.1 , June 1993 , 754.8 , 2,754.2 , -1,999.4 , July 1993 , 711.6 , 2,981.1 , -2,269.5 , August 1993 , 766.5 , 3,223.3 , -2,456.8 , September 1993 , 836.2 , 3,338.7 , -2,502.5 , October 1993 , 623.8 , 3,277.6 , -2,653.8 , November 1993 , 781.8 , 2,899.6 , -2,117.8 , December 1993 , 1,047.5 , 2,329.6 , -1,282.1 , TOTAL 1993 , 8,762.9 , 31,539.9 , -22,777.0 , January 1992 , 502.5 , 1,912.6 , -1,410.1 , February 1992 , 471.1 , 1,693.7 , -1,222.6 , March 1992 , 646.3 , 1,441.8 , -795.5 , April 1992 , 580.7 , 1,677.6 , -1,096.9 , May 1992 , 621.7 , 1,853.9 , -1,232.2 , June 1992 , 689.2 , 2,179.2 , -1,490.0 , July 1992 , 438.8 , 2,503.8 , -2,065.0 , August 1992 , 730.4 , 2,613.0 , -1,882.6 , September 1992 , 489.3 , 2,760.5 , -2,271.2 , October 1992 , 746.3 , 2,748.4 , -2,002.1 , November 1992 , 620.5 , 2,316.0 , -1,695.5 , December 1992 , 881.7 , 2,027.0 , -1,145.3 , TOTAL 1992 , 7,418.5 , 25,727.5 , -18,309.0 , January 1991 , 406.0 , 1,321.6 , -915.6 , February 1991 , 487.6 , 1,253.7 , -766.1 , March 1991 , 472.3 , 974.3 , -502.0 , April 1991 , 440.3 , 1,104.2 , -663.9 , May 1991 , 625.3 , 1,380.8 , -755.5 , June 1991 , 530.2 , 1,525.5 , -995.3 , July 1991 , 522.8 , 1,813.2 , -1,290.4 , August 1991 , 565.2 , 1,872.4 , -1,307.2 , September 1991 , 501.9 , 1,936.3 , -1,434.4 , October 1991 , 552.3 , 2,236.4 , -1,684.1 , November 1991 , 595.3 , 1,957.6 , -1,362.3 , December 1991 , 579.0 , 1,593.2 , -1,014.2 , TOTAL 1991 , 6,278.2 , 18,969.2 , -12,691.0 , January 1990 , 361.2 , 1,186.1 , -824.9 , February 1990 , 519.6 , 993.8 , -474.2 , March 1990 , 376.1 , 931.0 , -554.9 , April 1990 , 343.6 , 996.4 , -652.8 , May 1990 , 379.9 , 1,173.5 , -793.6 , June 1990 , 504.5 , 1,317.2 , -812.7 , July 1990 , 394.4 , 1,492.5 , -1,098.1 , August 1990 , 408.4 , 1,568.6 , -1,160.2 , September 1990 , 358.6 , 1,432.1 , -1,073.5 , October 1990 , 459.0 , 1,652.1 , -1,193.1 , November 1990 , 327.9 , 1,367.9 , -1,040.0 , December 1990 , 373.2 , 1,126.2 , -753.0 , TOTAL 1990 , 4,806.4 , 15,237.4 , -10,431.0 , January 1989 , 439.0 , 788.9 , -349.9 , February 1989 , 464.7 , 798.1 , -333.4 , March 1989 , 565.4 , 667.3 , -101.9 , April 1989 , 415.3 , 728.5 , -313.2 , May 1989 , 482.4 , 937.9 , -455.5 , June 1989 , 362.7 , 1,021.7 , -659.0 , July 1989 , 637.7 , 1,162.7 , -525.0 , August 1989 , 688.5 , 1,279.6 , -591.1 , September 1989 , 427.9 , 1,179.3 , -751.4 , October 1989 , 542.4 , 1,340.4 , -798.0 , November 1989 , 305.0 , 1,133.8 , -828.8 , December 1989 , 424.4 , 951.5 , -527.1 , TOTAL 1989 , 5,755.4 , 11,989.7 , -6,234.3 , January 1988 , 289.5 , 652.8 , -363.3 , February 1988 , 360.3 , 650.6 , -290.3 , March 1988 , 407.8 , 509.9 , -102.1 , April 1988 , 446.5 , 551.9 , -105.4 , May 1988 , 313.8 , 615.1 , -301.3 , June 1988 , 503.2 , 720.8 , -217.6 , July 1988 , 483.6 , 761.6 , -278.0 , August 1988 , 424.4 , 803.9 , -379.5 , September 1988 , 396.4 , 793.3 , -396.9 , October 1988 , 412.9 , 834.0 , -421.1 , November 1988 , 449.3 , 798.8 , -349.5 , December 1988 , 533.9 , 818.2 , -284.3 , TOTAL 1988 , 5,021.6 , 8,510.9 , -3,489.3 , January 1987 , 213.3 , 520.6 , -307.3 , February 1987 , 212.7 , 565.3 , -352.6 , March 1987 , 207.6 , 482.5 , -274.9 , April 1987 , 439.6 , 468.3 , -28.7 , May 1987 , 228.7 , 514.7 , -286.0 , June 1987 , 261.8 , 536.3 , -274.5 , July 1987 , 227.4 , 560.0 , -332.6 , August 1987 , 278.2 , 598.1 , -319.9 , September 1987 , 304.1 , 549.6 , -245.5 , October 1987 , 376.9 , 567.9 , -191.0 , November 1987 , 350.5 , 489.8 , -139.3 , December 1987 , 396.5 , 440.5 , -44.0 , TOTAL 1987 , 3,497.3 , 6,293.6 , -2,796.3 , January 1986 , 300.0 , 459.5 , -159.5 , February 1986 , 330.6 , 376.6 , -46.0 , March 1986 , 289.6 , 401.8 , -112.2 , April 1986 , 318.9 , 264.9 , 54.0 , May 1986 , 256.8 , 319.0 , -62.2 , June 1986 , 275.3 , 375.7 , -100.4 , July 1986 , 198.6 , 450.2 , -251.6 , August 1986 , 235.6 , 434.7 , -199.1 , September 1986 , 216.4 , 413.4 , -197.0 , October 1986 , 198.8 , 398.5 , -199.7 , November 1986 , 226.7 , 486.0 , -259.3 , December 1986 , 259.0 , 390.7 , -131.7 , TOTAL 1986 , 3,106.3 , 4,771.0 , -1,664.7 , January 1985 , 319.2 , 293.1 , 26.1 , February 1985 , 222.7 , 281.0 , -58.3 , March 1985 , 239.5 , 293.0 , -53.5 , April 1985 , 265.6 , 283.3 , -17.7 , May 1985 , 329.3 , 295.1 , 34.2 , June 1985 , 280.9 , 348.7 , -67.8 , July 1985 , 383.1 , 344.4 , 38.7 , August 1985 , 320.9 , 311.8 , 9.1 , September 1985 , 339.1 , 391.8 , -52.7 , October 1985 , 377.1 , 385.5

In [78]:
import csv

In [79]:
website_url1=requests.get('https://ticdata.treasury.gov/Publish/mfhhis01.txt').text

In [80]:
from bs4 import BeautifulSoup
soup2 = BeautifulSoup(website_url1,'html')
print(soup2)

<html><body><p>MAJOR FOREIGN HOLDERS OF TREASURY SECURITIES
                                                  (in billions of dollars)
                                              HOLDINGS 1/ AT END OF PERIOD


                          Dec     Nov     Oct     Sep      Aug      Jul      Jun      May      Apr      Mar      Feb      Jan
Country                   2018    2018    2018    2018     2018     2018     2018     2018     2018     2018     2018     2018
                      ------  ------  ------  ------  ------   ------   ------   ------   ------   ------   ------   ------
China, Mainland         1123.5  1121.4  1138.9  1151.4   1165.1   1171.0   1191.2   1183.1   1181.9   1187.7   1176.7   1168.2
Japan                   1042.3  1036.6  1018.5  1028.0   1029.9   1035.5   1032.5   1048.9   1031.8   1044.4   1060.1   1066.0
Brazil                   303.1   311.4   313.9   317.0    317.8    299.7    300.1    299.2    294.1    286.0    272.9    265.7
Ireland                  280.0   279.6   287.3   290.4    311.6    300.2    301.1    301.0    300.6    318.1    314.2    327.7
United Kingdom           271.7   258.9   263.9   276.3    272.6    271.7    274.2    265.0    262.6    263.6    250.6    243.3
Switzerland              234.9   227.5   225.2   226.9    232.0    233.1    235.5    243.4    242.2    245.4    248.0    251.1
Luxembourg               229.2   225.7   225.4   227.2    224.0    221.5    220.9    208.9    213.8    221.5    218.6    220.9
Cayman Islands           211.2   207.6   208.3   200.4    197.7    198.1    191.3    186.2    181.3    166.1    177.5    168.0
Hong Kong                196.2   189.2   185.0   192.3    193.2    194.4    196.4    191.9    194.1    196.3    196.6    194.3
Belgium                  185.7   173.0   169.7   164.7    154.3    154.5    154.7    150.5    139.5    126.7    126.8    124.6
Saudi Arabia             171.6   169.9   171.3   176.1    169.5    166.8    164.3    162.2    159.9    151.2    150.9    143.7
Taiwan                   157.3   155.4   162.4   166.5    163.2    164.2    162.6    164.8    168.1    170.1    170.7    175.4
India                    141.3   138.5   138.2   144.0    140.6    142.6    147.3    148.9    152.8    157.0    152.9    148.6
Singapore                121.1   128.8   133.0   134.5    129.9    127.6    122.1    118.9    118.0    117.8    118.0    122.6
Korea, South             114.9   110.2   111.1   110.8    110.2    109.1    106.1    104.8    104.7    100.6    101.3    101.8
France                   110.9   131.6   109.4    97.7    113.6    111.0     93.4     89.6     82.6     80.9     77.0     78.4
Canada                   109.9   106.3   101.9    94.1     96.2     96.1    102.3     96.7     89.4     93.0     89.1     86.1
Norway                    84.9    47.3    61.3    63.6     66.7     61.1     49.7     49.7     39.4     40.2     50.4     46.9
Thailand                  72.0    64.9    65.3    66.1     63.3     63.0     58.6     62.2     60.8     57.2     68.0     67.2
Germany                   69.8    77.7    77.5    68.3     73.3     71.0     70.7     78.3     86.0     76.5     78.4     71.0
Bermuda                   65.4    64.3    62.6    64.5     65.5     64.4     60.7     64.0     64.8     66.5     67.5     67.7
United Arab Emirates      56.8    56.3    57.7    60.0     59.0     59.7     59.6     60.0     59.7     59.3     57.5     55.6
Mexico                    46.8    45.7    41.5    39.3     40.7     39.8     41.0     43.6     43.8     47.0     36.0     36.2
Sweden                    43.8    44.5    43.4    44.6     44.6     44.7     46.0     45.5     45.1     46.2     46.3     46.3
Netherlands               43.6    42.8    43.0    43.0     43.4     45.1     44.8     45.1     42.5     43.9     44.8     45.1
Kuwait                    41.3    43.9    44.1    43.8     43.5     42.9     43.0     43.9     42.6     36.9     36.3     36.9
Italy                     40.3    40.4    39.6    39.6     37.3     38.4     40.6     39.6     36.4     37.2     36.6     35.4
Australia                 39.7    41.3    38.9    36.8     38.4     39.2     39.8     37.6     36.2     34.3     38.7     38.1
Poland                    39.6    40.2    40.0    40.1     39.9     40.6     40.6     40.2     41.4     40.3     40.4     40.7
Spain                     34.7    34.9    35.3    37.3     37.5     36.2     31.9     34.6     31.3     32.0     32.4     34.7
Iraq                      34.6    32.1    31.1    29.4     29.8     28.3     26.5     24.5     22.4     21.7     22.3     21.3
Israel                    29.1    29.0    30.8    31.2     30.5     29.7     28.2     28.2     29.9     29.4     29.2     27.3
Chile                     28.7    28.9    29.3    28.9     28.7     28.8     29.2     30.2     29.1     30.6     30.8     29.4
Colombia                  27.6    27.5    26.9    27.4     27.1     26.8     27.4     26.9     26.8     28.3     28.6     28.2
Indonesia                 25.1    23.4    22.5    23.0     23.5     23.1     23.0     23.5     23.5     24.8     26.6     27.3
Philippines               23.6    26.3    27.5    27.4     31.2     30.4     31.6     31.6     31.8     32.4     33.6     33.8
Egypt                     21.6    21.2    20.7    21.0     20.6     20.6     20.3     19.0     19.4     15.6     15.9     14.0
Vietnam                   19.9    19.1    19.3    20.6     20.9     20.7     20.2     19.5     19.3     20.1     18.9     17.9
Peru                      18.7    18.2    18.0    18.5     18.0     17.7     17.5     17.1     17.2     17.0     16.6     16.4
Denmark                   16.3    16.7    16.6    17.4     17.5     17.3     17.3     17.2     17.6     18.3     17.9     16.5
Russia                    13.2    12.8    14.6    14.4     14.1     14.9     14.9     14.9     48.7     96.1     93.8     96.9
Malaysia                  12.5    13.5    12.9    12.9     12.8     13.2     13.5     13.4     13.7     14.0     14.0     14.1
Kazakhstan                11.5    10.8     9.8    10.2     12.6     12.4     11.5     17.6     16.3     16.0     17.3     16.8
South Africa              10.5    11.0    16.4    19.4     21.4     22.1     26.3     24.4     26.7     26.6     24.3     26.1
All Other                285.8   293.9   290.3   279.0    295.5    305.6    294.8    298.9    290.9    288.8    296.6    299.8
Grand Total             6262.3  6199.9  6200.3  6225.9   6278.6   6254.4   6225.0   6215.1   6180.5   6223.4   6221.7   6194.3

Of which:
  For. Official         3949.7  3901.2  3947.1  4010.1   4021.1   4007.8   3988.6   3990.9   4006.2   4051.7   4031.0   4001.4
    Treasury Bills       310.4   311.8   306.6   316.7    329.3    339.6    336.3    346.3    323.2    318.6    333.9    325.0
    T-Bonds &amp; Notes     3639.3  3589.4  3640.5  3693.4   3691.8   3668.1   3652.3   3644.6   3683.0   3733.1   3697.0   3676.4


                          Dec     Nov     Oct     Sep      Aug      Jul      Jun      May      Apr      Mar      Feb      Jan
Country                   2017    2017    2017    2017     2017     2017     2017     2017     2017     2017     2017     2017
                       ------  ------  ------  ------   ------   ------   ------   ------   ------   ------   ------   ------
China, Mainland         1184.9  1176.6  1189.2  1182.3   1201.7   1166.9   1146.5   1102.2   1092.2   1088.1   1059.7   1051.1
Japan                   1061.6  1084.1  1094.0  1096.0   1101.7   1113.3   1090.3   1111.5   1106.9   1120.7   1115.7   1102.5
Ireland                  326.6   324.3   312.4   310.6    309.0    312.3    304.4    297.8    301.9    313.9    309.0    293.7
Brazil                   256.8   265.3   270.0   272.8    273.6    271.9    269.7    269.7    267.7    259.5    257.7    257.7
United Kingdom           249.9   237.5   225.9   237.4    225.0    229.6    236.0    236.4    231.5    228.3    217.5    214.1
Switzerland              249.6   250.9   254.0   253.3    248.2    244.5    244.1    239.4    234.1    227.6    234.3    224.0
Luxembourg               217.6   218.3   217.9   213.9    213.3    213.0    211.6    208.0    212.1    218.3    217.8    218.9
Hong Kong                194.7   194.9   192.3   194.4    194.5    196.7    201.1    196.6    196.8    195.1    197.1    189.4
Taiwan                   180.9   179.9   181.7   183.9    182.0    184.1    185.9    181.2    185.6    183.8    183.6    183.6
Cayman Islands           170.6   240.4   247.2   246.9    242.9    240.5    249.3    250.1    243.6    248.2    256.8    254.3
Saudi Arabia             147.4   147.6   145.2   136.7    137.9    142.5    142.0    134.0    126.8    124.5    116.7    112.3
India                    144.7   140.8   141.4   145.1    138.9    135.7    130.3    127.3    124.1    117.1    112.3    113.7
Singapore                125.0   124.2   130.4   125.2    119.3    112.3    106.4    107.9    107.0    103.1    107.4    103.3
Belgium                  119.2   115.3   116.0   104.8     96.9     99.4     98.3     98.7     96.4    109.9    105.7    112.2
Russia                   102.5   105.7   105.0   103.9    105.4    103.1    102.9    108.7    104.9     99.8     86.3     86.2
Korea, South              96.3    98.5   100.1    94.3     95.0     97.9     96.8    100.1     93.8     97.1     96.9     95.6
Canada                    86.1    82.4    78.0    75.0     73.6     75.5     76.5     80.1     80.4     77.5     81.9     80.0
France                    80.9    76.6    77.9    78.2     76.0     80.0     72.2     74.4     66.9     69.9     64.4     60.8
Germany                   72.3    71.6    72.9    74.9     73.0     73.3     68.3     68.3     74.7     77.0     73.1     71.6
Bermuda                   67.0    63.5    62.9    62.4     62.3     61.5     60.2     59.8     59.2     59.4     61.0     61.5
Thailand                  60.9    68.0    68.4    70.8     71.6     67.2     66.1     66.5     69.7     69.3     71.4     72.9
United Arab Emirates      57.7    58.2    57.7    54.3     55.9     59.9     58.8     60.5     60.6     63.0     61.7     61.2
Turkey                    52.6    61.2    61.5    60.8     57.7     54.5     58.9     49.5     56.4     59.0     58.3     58.4
Norway                    51.1    55.3    60.6    64.1     58.0     54.9     53.7     48.3     51.4     48.9     45.8     43.1
Netherlands               48.6    47.6    45.1    47.5     50.3     50.5     53.1     52.2     49.1     51.2     52.8     54.2
Sweden                    43.9    44.7    45.3    45.9     44.3     42.7     41.0     40.8     41.1     40.6     39.1     38.2
Poland                    40.0    38.4    38.8    37.3     36.3     35.6     34.1     35.0     33.9     34.9     34.2     34.3
Mexico                    39.1    40.6    41.6    40.5     34.7     35.8     32.4     38.9     40.2     38.8     49.5     48.1
Australia                 37.7    40.6    38.7    36.9     37.8     37.9     38.1     37.1     35.2     37.6     34.7     37.0
Kuwait                    36.8    36.8    39.4    38.0     35.6     33.0     31.8     31.6     31.3     32.4     29.8     29.4
Philippines               36.4    35.8    36.4    35.5     36.3     38.1     37.9     38.2     38.1     36.6     36.9     36.5
Italy                     35.2    35.6    34.5    35.3     35.4     36.2     36.1     35.6     35.0     35.2     37.5     38.2
Spain                     33.5    36.2    36.9    38.1     38.2     38.2     36.6     37.9     38.3     38.0     37.7     37.7
Colombia                  29.8    29.1    29.0    29.6     28.8     28.9     28.5     28.1     28.8     27.9     27.9     27.3
Israel                    29.3    30.9    32.7    32.5     31.8     30.4     30.9     30.9     29.5     29.6     30.2     30.9
Chile                     28.9    29.2    28.8    25.6     26.2     27.1     27.4     27.3     27.6     27.7     27.7     28.2
Indonesia                 27.1    24.5    25.3    27.2     25.5     26.8     27.6     26.7     24.2     22.7     24.0     24.6
South Africa              23.1    25.1    24.7    22.9     20.5     21.8     10.1     13.2     13.6     12.0     10.1      8.5
Iraq                      20.7    19.9    18.2    17.3     17.0     16.2     16.0     15.5     14.8     15.4     14.4     14.7
Kazakhstan                17.4    18.3    17.5    18.4     18.9     19.4     22.0     24.6     24.5     25.1     25.2     22.3
Peru                      16.3    15.1    14.9    14.1     13.4     13.3     13.4     13.2     12.8     12.1     11.7     11.9
Malaysia                  15.5    15.5    15.6    15.4     14.9     14.7     14.3     14.4     13.9     13.8     14.1     13.3
Denmark                   14.8    17.8    18.1    18.0     18.2     18.3     18.5     18.7     18.4     18.1     18.0     19.4
Vietnam                   14.8    14.2    14.0    14.3     12.9     13.4     13.6     13.7     14.0     13.9     13.2     13.3
Oman                      11.7    12.7    13.9    14.7     15.8     16.8     15.5     14.7     14.6     14.0     13.7     13.6
All Other                253.6   256.5   252.3   254.9    243.5    244.7    242.6    243.1    236.5    238.4    238.2    245.8
Grand Total             6211.3  6306.2  6324.1  6301.9   6249.4   6230.2   6151.9   6108.4   6060.5   6075.3   6012.5   5949.2

Of which:
  For. Official         4024.0  4054.7  4079.1  4070.4   4051.7   4034.5   3994.4   3935.3   3911.7   3880.1   3815.3   3784.8
    Treasury Bills       317.2   339.6   332.2   325.2    324.1    330.6    329.9    329.4    326.6    317.9    301.6    300.4
    T-Bonds &amp; Notes     3706.7  3715.1  3746.9  3745.2   3727.6   3703.9   3664.5   3605.9   3585.1   3562.2   3513.7   3484.4


                          Dec     Nov     Oct     Sep      Aug      Jul      Jun      May      Apr      Mar      Feb      Jan
Country                   2016    2016    2016    2016     2016     2016     2016     2016     2016     2016     2016     2016
                       ------  ------  ------  ------   ------   ------   ------   ------   ------   ------   ------   ------
Japan                   1090.8  1108.6  1131.9  1136.4   1144.0   1154.6   1147.1   1133.2   1142.8   1137.1   1133.2   1123.6
China, Mainland         1058.4  1049.3  1115.7  1157.0   1185.1   1218.8   1240.8   1244.0   1242.8   1244.6   1252.3   1238.0
Ireland                  288.2   275.2   273.9   270.9    266.4    269.2    269.8    259.3    257.4    263.7    255.2    252.1
Cayman Islands           261.3   260.8   262.2   262.6    264.4    264.6    270.0    260.7    259.4    265.4    255.6    251.1
Brazil                   259.2   258.3   254.7   258.1    256.1    254.1    251.6    249.5    249.1    246.4    247.3    255.7
Switzerland              230.0   230.3   235.6   241.0    238.3    241.3    237.9    229.2    230.0    230.4    236.6    237.9
Luxembourg               224.3   222.4   217.8   228.3    220.7    224.2    225.2    222.5    221.7    221.6    209.1    200.6
United Kingdom           217.2   215.8   207.3   217.6    204.9    210.0    231.4    217.1    216.4    226.5    230.6    209.6
Hong Kong                191.4   185.5   186.3   189.8    191.5    189.6    184.7    191.9    194.5    199.7    201.5    201.5
Taiwan                   189.3   183.1   188.6   189.3    190.0    192.1    187.9    181.5    185.2    182.3    182.7    183.3
Belgium                  120.4   113.5   116.9   142.7    157.0    154.4    156.3    151.7    153.6    153.8    143.0    137.5
India                    118.2   118.7   123.0   122.7    122.9    123.7    117.2    118.0    121.6    118.9    118.8    119.8
Saudi Arabia             102.8   100.1    96.7    89.4     93.0     96.5     98.2    103.7    113.0    116.8    119.9    123.7
Singapore                102.2    96.9    99.2   101.4    105.9    103.5    107.7    109.3    109.4    112.7    111.5    113.9
Korea, South              93.2    85.0    86.7    88.5     90.2     85.9     82.1     80.5     83.0     84.1     78.2     74.2
Russia                    86.1    86.6    74.6    76.5     87.5     88.2     90.9     88.2     82.5     86.0     87.6     96.9
Canada                    82.9    81.2    81.4    85.0     81.9     81.3     85.3     76.6     81.9     81.5     69.4     70.7
Germany                   82.3    87.0    93.8   103.1    103.9     97.0     99.4     97.3     96.9     90.3     80.7     80.4
Thailand                  66.0    71.1    59.2    49.9     50.7     48.8     48.0     47.7     45.6     43.1     43.0     39.7
Bermuda                   64.0    66.8    65.9    64.3     66.8     66.3     69.1     65.2     62.3     62.9     60.8     58.8
France                    61.4    68.4    61.4    69.5     68.2     61.6     51.6     57.8     54.5     67.0     76.6     56.7
United Arab Emirates      60.6    63.0    64.4    63.8     64.1     66.0     66.2     61.8     60.1     62.5     64.8     66.7
Turkey                    59.1    55.8    58.3    61.5     56.5     59.7     58.6     50.7     54.7     52.9     53.4     59.8
Netherlands               57.4    54.2    53.2    52.2     50.7     49.7     51.0     47.6     48.1     49.3     50.7     50.7
Norway                    52.5    47.7    51.6    56.8     53.7     52.9     58.7     61.9     66.2     72.3     69.8     68.1
Mexico                    47.1    47.1    45.9    47.7     46.1     48.3     51.4     59.8     65.9     71.6     72.2     69.9
Italy                     39.9    37.8    40.8    42.0     40.6     41.3     38.9     42.3     39.2     37.5     36.8     36.3
Sweden                    38.7    39.2    38.7    38.3     40.0     40.0     40.2     40.5     41.1     40.9     41.0     40.8
Philippines               38.5    37.8    38.6    39.0     40.1     41.7     42.4     40.9     41.1     41.3     41.4     42.6
Spain                     38.3    38.4    38.4    39.5     39.0     39.1     39.6     37.6     37.0     38.1     38.2     37.1
Australia                 34.6    36.4    34.5    34.6     32.1     30.9     31.4     31.0     29.1     34.1     33.3     32.2
Poland                    34.0    33.9    33.0    33.5     33.8     33.9     34.2     33.9     33.8     33.7     33.5     33.2
Israel                    31.6    29.5    29.4    28.7     27.4     30.0     30.6     29.4     28.7     26.0     18.7     18.3
Chile                     29.2    29.7    31.0    30.8     31.8     33.8     33.4     31.0     30.7     31.7     30.7     28.5
Kuwait                    28.7    29.4    29.9    30.6     31.3     31.7     30.6     30.9     30.9     31.2     30.4     30.7
Colombia                  28.2    28.0    27.5    28.1     29.2     30.7     31.4     37.2     36.8     36.8     35.1     36.2
Indonesia                 24.6    22.5    24.1    21.6     22.5     22.2     18.7     17.8     18.8     18.7     19.3     20.6
Kazakhstan                24.0    22.2    21.0    24.6     23.0     22.9     21.5     21.5     19.9     22.1     23.0     23.7
Denmark                   19.1    18.7    19.4    17.4     23.2     22.8     23.3     23.7     23.8     23.2     23.4     22.7
Oman                      14.3    15.1    16.4    16.6     17.8     18.0     15.5     15.8     17.5     15.9     17.7     19.4
Iraq                      14.0    13.9    15.4    15.2     15.3     15.2     15.3     14.7     15.2     13.4     17.1     19.4
Vietnam                   13.8    13.5    13.6    13.5     13.3     13.4     13.5     12.1     12.0     12.1     12.0     12.1
Malaysia                  13.2    13.3    14.2    14.0     13.6     13.9     13.5     13.3     13.1     12.4     10.3      9.7
Peru                      12.2    12.2    12.5    12.4     13.0     12.7     12.5     12.7     12.8     11.8     11.5     12.4
Finland                   11.2    10.9    11.3    10.6     10.0     10.3     10.0      9.6      9.7      9.2      9.0      9.2
All Other                248.5   238.0   247.8   239.0    239.6    241.2    244.2    245.6    247.0    251.0    254.5    256.2
Grand Total             6002.8  5953.0  6043.6  6155.9   6197.1   6248.1   6279.1   6208.3   6236.7   6284.4   6241.5   6182.4

Of which:

/usr/lib/python3/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /usr/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [81]:
My_table1 = soup2.findAll('China, Mainland')
#str_cells = str(My_table)
##cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(My_table1)

[]

In [82]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [83]:
df=pd.read_csv("TESTING_PHASE1.csv",sep=',')

In [84]:
df.head()

,Date,Exchange Rate,Change %,S&P Stock,Shanghai Stock,CH(1)BOND,Change %.1,US(1)BOND,Change %.2,CH(10)BOND,Change %.3,US(10)BOND,Change %.4,FED RATE
0,1/2/2018,6.4934,-0.20%,2695.81,3348.33,3.755,-1.26%,1.796,3.25%,3.918,0.08%,2.462,2.35%,1.42
1,1/3/2018,6.5030,0.15%,2713.06,3369.11,3.683,-1.92%,1.814,1.00%,3.920,0.05%,2.445,-0.69%,1.42
2,1/4/2018,6.4934,-0.15%,2723.99,3385.71,3.675,-0.22%,1.806,-0.44%,3.938,0.46%,2.453,0.33%,1.42
3,1/5/2018,6.4887,-0.07%,2743.15,3391.75,3.593,-2.23%,1.803,-0.17%,3.935,-0.08%,2.476,0.94%,1.42
4,1/8/2018,6.4997,0.17%,2747.71,3409.48,3.547,-1.28%,1.787,-0.75%,3.924,-0.28%,2.480,0.15%,1.42

In [85]:
df.dropna()

,Date,Exchange Rate,Change %,S&P Stock,Shanghai Stock,CH(1)BOND,Change %.1,US(1)BOND,Change %.2,CH(10)BOND,Change %.3,US(10)BOND,Change %.4,FED RATE
0,1/2/2018,6.4934,-0.20%,2695.81,3348.33,3.755,-1.26%,1.796,3.25%,3.918,0.08%,2.462,2.35%,1.42
1,1/3/2018,6.5030,0.15%,2713.06,3369.11,3.683,-1.92%,1.814,1.00%,3.920,0.05%,2.445,-0.69%,1.42
2,1/4/2018,6.4934,-0.15%,2723.99,3385.71,3.675,-0.22%,1.806,-0.44%,3.938,0.46%,2.453,0.33%,1.42
3,1/5/2018,6.4887,-0.07%,2743.15,3391.75,3.593,-2.23%,1.803,-0.17%,3.935,-0.08%,2.476,0.94%,1.42
4,1/8/2018,6.4997,0.17%,2747.71,3409.48,3.547,-1.28%,1.787,-0.75%,3.924,-0.28%,2.480,0.15%,1.42
5,1/9/2018,6.5297,0.46%,2751.29,3413.90,3.543,-0.11%,1.785,-0.11%,3.920,-0.10%,2.551,2.86%,1.42
6,1/10/2018,6.5081,-0.33%,2748.23,3421.83,3.582,1.10%,1.780,-0.28%,3.930,0.26%,2.559,0.31%,1.42
7,1/11/2018,6.4958,-0.19%,2767.56,3425.34,3.627,1.26%,1.772,-0.45%,3.958,0.71%,2.537,-0.86%,1.42
8,1/12/2018,6.4610,-0.54%,2786.24,3428.94,3.588,-1.08%,1.782,0.56%,3.967,0.23%,2.550,0.51%,1.42
9,1/16/2018,6.4440,0.11%,2776.42,3436.59,3.630,-0.55%,1.782,0.00%,4.024,0.22%,2.539,-0.50%,1.42
10,1/17/2018,6.4343,-0.15%,2802.56,3444.67,3.630,0.00%,1.776,-0.34%,4.030,0.15%,2.587,1.89%,1.42
11,1/18/2018,6.4203,-0.22%,2798.03,3474.75,3.658,0.77%,1.771,-0.28%,4.039,0.22%,2.624,1.43%,1.42
12,1/19/2018,6.4040,-0.25%,2810.30,3487.86,3.633,-0.68%,1.776,0.28%,4.060,0.52%,2.661,1.41%,1.42
13,1/22/2018,6.4052,0.02%,2832.97,3501.36,3.610,-0.63%,1.781,0.27%,4.071,0.27%,2.656,-0.26%,1.42
14,1/23/2018,6.4047,-0.01%,2839.13,3546.50,3.585,-0.69%,1.761,-1.12%,3.970,-2.48%,2.617,-1.47%,1.42
15,1/24/2018,6.3700,-0.54%,2837.54,3559.47,3.595,0.28%,1.771,0.57%,3.962,-0.20%,2.648,1.18%,1.42
16,1/25/2018,6.3238,-0.73%,2839.25,3548.31,3.579,-0.45%,1.776,0.28%,3.955,-0.18%,2.624,-0.91%,1.42
17,1/26/2018,6.3201,-0.06%,2872.87,3558.13,3.565,-0.39%,1.786,0.56%,3.952,-0.08%,2.660,1.37%,1.42
18,1/29/2018,6.3374,0.27%,2853.53,3523.00,3.578,0.36%,1.781,-0.15%,3.958,0.15%,2.699,1.54%,1.42
19,1/30/2018,6.3239,-0.21%,2822.43,3488.01,3.577,-0.03%,1.781,0.00%,3.954,-0.10%,2.724,0.93%,1.42
20,1/31/2018,6.2888,-0.56%,2823.81,3480.83,3.583,0.17%,1.897,6.51%,3.944,-0.25%,2.712,-0.44%,1.34
21,2/1/2018,6.2995,0.17%,2821.98,3446.98,3.540,-1.20%,1.895,-0.11%,3.931,-0.33%,2.782,2.58%,1.42
22,2/5/2018,6.2900,-0.18%,2648.94,3487.50,3.503,-1.05%,1.858,-0.83%,3.925,0.00%,2.709,-4.78%,1.42
23,2/6/2018,6.2832,-0.11%,2695.14,3370.65,3.510,0.20%,1.858,0.00%,3.917,-0.20%,2.805,3.54%,1.42
24,2/7/2018,6.2694,-0.22%,2681.66,3309.26,3.523,0.37%,1.894,1.94%,3.903,-0.36%,2.834,1.03%,1.42
25,2/8/2018,6.3270,0.92%,2581.00,3262.05,3.493,-0.85%,1.899,0.26%,3.898,-0.13%,2.828,-0.21%,1.42
26,2/9/2018,6.2969,-0.48%,2619.55,3129.85,3.486,-0.20%,1.881,-0.95%,3.902,0.10%,2.857,1.03%,1.42
27,2/12/2018,6.3275,0.49%,2656.00,3154.13,3.413,-0.93%,1.925,1.93%,3.907,-0.08%,2.858,0.05%,1.42
28,2/13/2018,6.3410,0.21%,2662.94,3184.96,3.420,0.21%,1.938,0.68%,3.915,0.20%,2.833,-0.87%,1.42
29,2/14/2018,6.3482,0.11%,2698.63,3199.16,3.410,-0.29%,1.969,1.60%,3.900,-0.38%,2.913,2.82%,1.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,4/11/2019,6.7194,0.05%,2888.32,3189.96,2.417,0.00%,2.420,0.29%,3.293,-0.78%,2.499,1.38%,2.41
294,4/12/2019,6.7044,-0.22%,2907.41,3188.63,2.437,0.83%,2.436,0.66%,3.331,1.15%,2.562,2.52%,2.41
295,4/15/2019,6.7086,0.06%,2905.58,3177.79,2.490,2.17%,2.436,0.12%,3.375,1.32%,2.556,0.00%,2.41
296,4/16/2019,6.7122,0.05%,2907.06,3253.60,2.505,0.60%,2.446,0.41%,3.404,0.86%,2.592,1.41%,2.41
297,4/17/2019,6.6882,-0.36%,2900.45,3263.12,2.540,1.40%,2.446,0.00%,3.427,0.68%,2.594,0.08%,2.42
298,4/22/2019,6.7120,0.12%,2907.97,3215.04,2.694,0.41%,2.453,0.74%,3.419,0.86%,2.587,1.07%,2.44
299,4/23/2019,6.7259,0.21%,2933.68,3198.59,2.705,0.41%,2.437,-0.65%,3.434,0.44%,2.569,-0.70%,2.44
300,4/24/2019,6.7219,-0.06%,2927.25,3201.61,2.690,-0.55%,2.425,-0.49%,3.435,0.03%,2.518,-1.99%,2.44
301,4/25/2019,6.7431,0.32%,2926.17,3123.83,2.693,0.11%,2.427,0.08%,3.433,-0.06%,2.534,0.64%,2.44
302,4/26/2019,6.7298,-0.20%,2939.88,3086.40,2.690,-0.11%,2.411,-0.66%,3.421,-0.35%,2.500,-1.34%,2.44
303,4/29/2019,6.7336,0.06%,2943.03,3062.50,2.664,0.15%,2.411,0.00%,3.430,0.44%,2.527,1.08%,2.45
304,4/30/2019,6.7349,0.02%,2945.83,3078.34,2.685,0.79%,2.382,-1.20%,3.416,-0.41%,2.504,-0.91%,2.45
305,5/6/2019,6.7645,0.44%,2932.47,2906.46,2.635,-1.86%,2.389,-0.77%,3.378,-0.79%,2.500,-1.21%,2.40
306,5/7/2019,6.7769,0.18%,2884.05,2926.39,2.630,-0.19%,2.371,-0.75%,3.364,-0.41%,2.448,-2.08%,2.40
307,5/8/2019,6.7828,0.09%,2879.42,2893.76,2.607,-0.87%,2.376,0.21%,3.355,-0.27%,2.485,1.51%,2.39
308,5/9/2019,6.8274,0.66%,2870.72,2850.95,2.620,0.50%,2.368,-0.34%,3.330,-0.75%,2.453,-1.29%,2.38
309,5/10/2019,6.8240,-0.05%,2881.40,2939.21,2.628,0.31%,2.362,-0.25%,3.314,-0.48%,2.473,0.82%,2.38
310,5/13/2019,6.8784,0.80%,2811.87,2903.71,2.612,-0.61%,2.328,-1.66%,3.315,0.03%,2.403,-1.32%,2.38
311,5/14/2019,6.8760,-0.03%,2834.41,2883.61,2.617,0.19%,2.328,0.00%,3.296,-0.57%,2.414,0.46%,2.38
312,5/15/2019,6.8761,0.00%,2850.96,2938.68,2.620,0.11%,2.312,-0.69%,3.320,0.73%,2.377,-1.53%,2.40
313,5/16/2019,6.8838,0.11%,2876.32,2955.71,2.628,0.31%,2.335,0.99%,3.289,-0.93%,2.394,0.72%,2.39
314,5/17/2019,6.9187,0.51%,2859.53,2882.30,2.620,-0.30%,2.338,0.13%,3.283,-0.18%,2.393,-0.04%,2.39
315,5/20/2019,6.9123,-0.09%,2840.23,2870.60,2.593,-1.03%,2.345,0.42%,3.298,0.46%,2.419,0.73%,2.39
316,5/21/2019,6.9023,-0.14%,2864.36,2905.97,2.593,0.00%,2.372,1.15%,3.308,0.30%,2.428,0.37%,2.39
317,5/22/2019,6.9064,0.06%,2856.27,2891.70,2.615,0.85%,2.361,-0.46%,3.317,0.27%,2.380,-1.98%,2.38
318,5/23/2019,6.9105,0.06%,2822.24,2852.52,2.600,-0.57%,2.317,-1.86%,3.339,0.66%,2.322,-2.44%,2.38
319,5/24/2019,6.9002,-0.15%,2826.06,2852.99,2.613,0.50%,2.332,0.65%,3.333,-0.18%,2.324,0.09%,2.38
320,5/28/2019,6.9101,0.18%,2802.39,2909.91,2.622,1.39%,2.311,-0.67%,3.358,0.24%,2.268,-1.81%,2.39
321,5/29/2019,6.9145,0.06%,2783.02,2914.70,2.614,-0.31%,2.300,-0.48%,3.328,-0.89%,2.262,-0.26%,2.39
322,5/30/2019,6.9019,-0.18%,2788.86,2905.81,2.619,0.19%,2.303,0.12%,3.323,-0.15%,2.217,-1.99%,2.39

In [86]:
import statsmodels

In [87]:
from statsmodels.tsa.arima_model import ARIMA

In [88]:
#new arrays to store actual and predictions
Actual = [x for x in TrainingData]
Predictions = list()
Actual

NameError: name 'TrainingData' is not defined

#in a for loop, predict values using ARIMA model
len(TestData)
for i in range(len(TestData)):
    ActualValue=TestData['Exchange Rate'].iloc[0]
    #forcast value  
    Prediction=StartARIMAForecasting(ActualData, 2,1,0)
    print('Actual=%f, Predicted=%f' % (ActualValue, Prediction))

In [ ]:
def StartARIMAForecasting(Actual, P, D, Q):
	model = ARIMA(Actual, order=(P, D, Q))
	model_fit = model.fit(disp=0)
	prediction = model_fit.forecast()[0]
	return prediction


#new arrays to store actual and predictions
Actual = [x for x in TrainingData]
Predictions = list()
Prediction=list()

#in a for loop, predict values using ARIMA model
for timepoint in range(len(TestData)):
	ActualValue =  TestData['Exchange Rate'].iloc[timepoint]
	#forcast value
	Prediction = StartARIMAForecasting(ActualData, 3,1,0)    
	print('Actual=%f, Predicted=%f' % (ActualValue, Prediction))

In [ ]:
from pandas import read_csv
from pandas import datetime
from pandas import DataFrame
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot

In [89]:

df20=pd.read_csv("RATES.csv",sep=',')

In [90]:
df20.head()

,,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2018,1123.5,1121.4,1138.9,1151.4,1165.1,1171.0,1191.2,1183.1,1181.9,1187.7,1176.7,1168.2
1,2017,1184.9,1176.6,1189.2,1182.3,1201.7,1166.9,1146.5,1102.2,1092.2,1088.1,1059.7,1051.1
2,2016,1058.4,1049.3,1115.7,1157.0,1185.1,1218.8,1240.8,1244.0,1242.8,1244.6,1252.3,1238.0
3,2015,1246.1,1264.5,1254.8,1258.0,1270.5,1268.8,1271.2,1270.3,1263.4,1261.0,1223.7,1239.1
4,2014,1244.3,1250.4,1252.7,1266.3,1269.7,1264.9,1268.4,1270.9,1263.2,1272.1,1272.9,1275.6

In [91]:
df1_transposed = df20.T

In [92]:
df1_transposed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
,2018.0,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0,2009.0,2008.0,2007.0,2006.0,2005.0
Unnamed: 1,1123.5,1184.9,1058.4,1246.1,1244.3,1270.1,1220.4,1151.9,1160.1,894.8,727.4,477.6,396.9,310.0
Unnamed: 2,1121.4,1176.6,1049.3,1264.5,1250.4,1316.7,1183.1,1254.6,1164.1,929.0,713.2,458.9,393.8,303.9
Unnamed: 3,1138.9,1189.2,1115.7,1254.8,1252.7,1304.5,1169.9,1256.0,1175.3,938.3,684.1,459.1,392.2,301.7
Unnamed: 4,1151.4,1182.3,1157.0,1258.0,1266.3,1293.8,1153.6,1270.2,1151.9,938.3,618.2,467.7,389.7,306.3
Unnamed: 5,1165.1,1201.7,1185.1,1270.5,1269.7,1268.1,1155.2,1278.5,1136.8,936.5,573.7,471.2,386.5,302.1
Unnamed: 6,1171.0,1166.9,1218.8,1268.8,1264.9,1279.3,1160.0,1314.9,1115.1,939.9,550.0,480.0,378.2,296.4
Unnamed: 7,1191.2,1146.5,1240.8,1271.2,1268.4,1275.8,1147.0,1307.0,1112.1,915.8,535.1,477.3,372.3,298.0
Unnamed: 8,1183.1,1102.2,1244.0,1270.3,1270.9,1297.3,1164.0,1165.5,843.7,776.4,503.8,405.2,328.0,243.3
Unnamed: 9,1181.9,1092.2,1242.8,1263.4,1263.2,1290.7,1164.4,1159.8,867.7,801.5,506.8,407.5,324.5,243.1
Unnamed: 10,1187.7,1088.1,1244.6,1261.0,1272.1,1270.3,1144.0,1152.5,900.2,763.5,502.0,414.2,321.1,240.2
Unnamed: 11,1176.7,1059.7,1252.3,1223.7,1272.9,1251.9,1155.2,1144.9,895.2,767.9,490.6,420.0,319.2,223.7
Unnamed: 12,1168.2,1051.1,1238.0,1239.1,1275.6,1214.2,1166.2,1154.1,877.5,744.2,486.9,416.0,318.4,224.9

In [ ]:

df1_transposed.to_csv("out.csv",encoding='utf-8', index=False)

In [ ]:
import pandas as pd

In [93]:
DFA=pd.read_csv("T1.csv",sep=',')

In [94]:
DFB=pd.read_csv("T2.csv",sep=',')

In [95]:
DFC=pd.read_csv("T3.csv",sep=',')

In [96]:
DFD=pd.read_csv("T4.csv",sep=',')

In [97]:
DFE=pd.read_csv("T5.csv",sep=',')

In [98]:
DFF=pd.read_csv("T6.csv",sep=',')

In [99]:
DFG=pd.read_csv("T7.csv",sep='\t')

In [100]:
DFH=pd.read_csv("T8.csv",sep='\t')

In [101]:
DFG

           Date  US(10)BOND Change %
0     30-May-19       2.217   -1.99%
1     29-May-19       2.262   -0.26%
2     28-May-19       2.268   -1.81%
3     27-May-19       2.310   -0.62%
4     24-May-19       2.324    0.09%
5     23-May-19       2.322   -2.44%
6     22-May-19       2.380   -1.98%
7     21-May-19       2.428    0.37%
8     20-May-19       2.419    0.73%
9     19-May-19       2.401    0.36%
10    17-May-19       2.393   -0.04%
11    16-May-19       2.394    0.72%
12    15-May-19       2.377   -1.53%
13    14-May-19       2.414    0.46%
14    13-May-19       2.403   -1.32%
15    12-May-19       2.435   -1.53%
16    10-May-19       2.473    0.82%
17     9-May-19       2.453   -1.29%
18     8-May-19       2.485    1.51%
19     7-May-19       2.448   -2.08%
20     6-May-19       2.500   -1.21%
21     5-May-19       2.530    0.00%
22     3-May-19       2.530   -0.59%
23     2-May-19       2.545    1.72%
24     1-May-19       2.502   -0.08%
25    30-Apr-19       2.504   -0.91%
26    29-Apr-19       2.527    1.08%
27    26-Apr-19       2.500   -1.34%
28    25-Apr-19       2.534    0.64%
29    24-Apr-19       2.518   -1.99%
...         ...         ...      ...
3977  14-Feb-05       4.077   -0.37%
3978  11-Feb-05       4.092    0.02%
3979  10-Feb-05       4.091    2.63%
3980   9-Feb-05       3.986   -0.92%
3981   8-Feb-05       4.023   -0.81%
3982   7-Feb-05       4.056   -0.66%
3983   4-Feb-05       4.083   -2.06%
3984   3-Feb-05       4.169    0.58%
3985   2-Feb-05       4.145    0.02%
3986   1-Feb-05       4.144    0.29%
3987  31-Jan-05       4.132   -0.34%
3988  28-Jan-05       4.146   -1.94%
3989  27-Jan-05       4.228    0.67%
3990  26-Jan-05       4.200    0.00%
3991  25-Jan-05       4.200    1.84%
3992  24-Jan-05       4.124   -0.48%
3993  21-Jan-05       4.144   -0.65%
3994  20-Jan-05       4.171   -0.10%
3995  19-Jan-05       4.175   -0.43%
3996  18-Jan-05       4.193   -0.64%
3997  14-Jan-05       4.220    1.27%
3998  13-Jan-05       4.167   -1.68%
3999  12-Jan-05       4.238   -0.14%
4000  11-Jan-05       4.244   -0.68%
4001  10-Jan-05       4.273   -0.05%
4002   7-Jan-05       4.275    0.28%
4003   6-Jan-05       4.263   -0.56%
4004   5-Jan-05       4.287   -0.19%
4005   4-Jan-05       4.295    1.87%
4006   3-Jan-05       4.216   -0.14%

[4007 rows x 3 columns]

In [102]:
import pandas as pd

dfL=pd.merge(DFH,DFG, on='Date')

In [103]:
print(dfL)

           Date  FED RATE  US(10)BOND Change %
0     30-May-19      2.39       2.217   -1.99%
1     29-May-19      2.39       2.262   -0.26%
2     28-May-19      2.39       2.268   -1.81%
3     24-May-19      2.38       2.324    0.09%
4     23-May-19      2.38       2.322   -2.44%
5     22-May-19      2.38       2.380   -1.98%
6     21-May-19      2.39       2.428    0.37%
7     20-May-19      2.39       2.419    0.73%
8     17-May-19      2.39       2.393   -0.04%
9     16-May-19      2.39       2.394    0.72%
10    15-May-19      2.40       2.377   -1.53%
11    14-May-19      2.38       2.414    0.46%
12    13-May-19      2.38       2.403   -1.32%
13    10-May-19      2.38       2.473    0.82%
14     9-May-19      2.38       2.453   -1.29%
15     8-May-19      2.39       2.485    1.51%
16     7-May-19      2.40       2.448   -2.08%
17     6-May-19      2.40       2.500   -1.21%
18     3-May-19      2.40       2.530   -0.59%
19     2-May-19      2.41       2.545    1.72%
20     1-May-19      2.45       2.502   -0.08%
21    30-Apr-19      2.45       2.504   -0.91%
22    29-Apr-19      2.45       2.527    1.08%
23    26-Apr-19      2.44       2.500   -1.34%
24    25-Apr-19      2.44       2.534    0.64%
25    24-Apr-19      2.44       2.518   -1.99%
26    23-Apr-19      2.44       2.569   -0.70%
27    22-Apr-19      2.44       2.587    1.07%
28    18-Apr-19      2.43       2.560   -1.31%
29    17-Apr-19      2.42       2.594    0.08%
...         ...       ...         ...      ...
3918  14-Feb-05      2.51       4.077   -0.37%
3919  11-Feb-05      2.50       4.092    0.02%
3920  10-Feb-05      2.51       4.091    2.63%
3921   9-Feb-05      2.50       3.986   -0.92%
3922   8-Feb-05      2.48       4.023   -0.81%
3923   7-Feb-05      2.50       4.056   -0.66%
3924   4-Feb-05      2.51       4.083   -2.06%
3925   3-Feb-05      2.49       4.169    0.58%
3926   2-Feb-05      2.29       4.145    0.02%
3927   1-Feb-05      2.40       4.144    0.29%
3928  31-Jan-05      2.50       4.132   -0.34%
3929  28-Jan-05      2.48       4.146   -1.94%
3930  27-Jan-05      2.39       4.228    0.67%
3931  26-Jan-05      2.33       4.200    0.00%
3932  25-Jan-05      2.29       4.200    1.84%
3933  24-Jan-05      2.26       4.124   -0.48%
3934  21-Jan-05      2.26       4.144   -0.65%
3935  20-Jan-05      2.25       4.171   -0.10%
3936  19-Jan-05      2.19       4.175   -0.43%
3937  18-Jan-05      2.31       4.193   -0.64%
3938  14-Jan-05      2.29       4.220    1.27%
3939  13-Jan-05      2.29       4.167   -1.68%
3940  12-Jan-05      2.25       4.238   -0.14%
3941  11-Jan-05      2.24       4.244   -0.68%
3942  10-Jan-05      2.26       4.273   -0.05%
3943   7-Jan-05      2.24       4.275    0.28%
3944   6-Jan-05      2.25       4.263   -0.56%
3945   5-Jan-05      2.25       4.287   -0.19%
3946   4-Jan-05      2.25       4.295    1.87%
3947   3-Jan-05      2.31       4.216   -0.14%

[3948 rows x 4 columns]

In [104]:
dfL=pd.merge(dfL,DFB, on='Date')

In [105]:
dfL=pd.merge(dfL,DFF, on='Date')

In [106]:
dfL=pd.merge(dfL,DFF, on='Date')

In [107]:
dfL=pd.merge(dfL,DFA, on='Date')

In [108]:
dfL=pd.merge(dfL,DFC, on='Date')

In [109]:
dfL=pd.merge(dfL,DFE, on='Date')

In [110]:
dfL=pd.merge(dfL,DFD, on='Date')

In [111]:
dfL.head()

,Date,FED RATE,US(10)BOND,Change %_x,Exchange Rate,Change %_y,CH(10)BOND_x,Change %_x,CH(10)BOND_y,Change %_y,CH(1)BOND,Change %_x,S&P Stock,CH(1) BOND,Shanghai Stock,Change %_y
0,30-May-19,2.39,2.217,-1.99%,6.9019,-0.18%,3.323,-0.15%,3.323,-0.15%,2.619,0.19%,2788.86,2.29,"2,905.81",-0.31%
1,29-May-19,2.39,2.262,-0.26%,6.9145,0.06%,3.328,-0.89%,3.328,-0.89%,2.614,-0.31%,2783.02,2.30,"2,914.70",0.16%
2,28-May-19,2.39,2.268,-1.81%,6.9101,0.18%,3.358,0.24%,3.358,0.24%,2.622,1.39%,2802.39,2.31,"2,909.91",0.61%
3,24-May-19,2.38,2.324,0.09%,6.9002,-0.15%,3.333,-0.18%,3.333,-0.18%,2.613,0.50%,2826.06,2.33,"2,852.99",0.02%
4,23-May-19,2.38,2.322,-2.44%,6.9105,0.06%,3.339,0.66%,3.339,0.66%,2.600,-0.57%,2822.24,2.32,"2,852.52",-1.35%

In [112]:
dfL

,Date,FED RATE,US(10)BOND,Change %_x,Exchange Rate,Change %_y,CH(10)BOND_x,Change %_x,CH(10)BOND_y,Change %_y,CH(1)BOND,Change %_x,S&P Stock,CH(1) BOND,Shanghai Stock,Change %_y
0,30-May-19,2.39,2.217,-1.99%,6.9019,-0.18%,3.323,-0.15%,3.323,-0.15%,2.619,0.19%,2788.86,2.29,"2,905.81",-0.31%
1,29-May-19,2.39,2.262,-0.26%,6.9145,0.06%,3.328,-0.89%,3.328,-0.89%,2.614,-0.31%,2783.02,2.30,"2,914.70",0.16%
2,28-May-19,2.39,2.268,-1.81%,6.9101,0.18%,3.358,0.24%,3.358,0.24%,2.622,1.39%,2802.39,2.31,"2,909.91",0.61%
3,24-May-19,2.38,2.324,0.09%,6.9002,-0.15%,3.333,-0.18%,3.333,-0.18%,2.613,0.50%,2826.06,2.33,"2,852.99",0.02%
4,23-May-19,2.38,2.322,-2.44%,6.9105,0.06%,3.339,0.66%,3.339,0.66%,2.600,-0.57%,2822.24,2.32,"2,852.52",-1.35%
5,22-May-19,2.38,2.380,-1.98%,6.9064,0.06%,3.317,0.27%,3.317,0.27%,2.615,0.85%,2856.27,2.37,"2,891.70",-0.49%
6,21-May-19,2.39,2.428,0.37%,6.9023,-0.14%,3.308,0.30%,3.308,0.30%,2.593,0.00%,2864.36,2.36,"2,905.97",1.23%
7,20-May-19,2.39,2.419,0.73%,6.9123,-0.09%,3.298,0.46%,3.298,0.46%,2.593,-1.03%,2840.23,2.34,"2,870.60",-0.41%
8,17-May-19,2.39,2.393,-0.04%,6.9187,0.51%,3.283,-0.18%,3.283,-0.18%,2.620,-0.30%,2859.53,2.33,"2,882.30",-2.48%
9,16-May-19,2.39,2.394,0.72%,6.8838,0.11%,3.289,-0.93%,3.289,-0.93%,2.628,0.31%,2876.32,2.33,"2,955.71",0.58%
10,15-May-19,2.40,2.377,-1.53%,6.8761,0.00%,3.320,0.73%,3.320,0.73%,2.620,0.11%,2850.96,2.30,"2,938.68",1.91%
11,14-May-19,2.38,2.414,0.46%,6.8760,-0.03%,3.296,-0.57%,3.296,-0.57%,2.617,0.19%,2834.41,2.32,"2,883.61",-0.69%
12,13-May-19,2.38,2.403,-1.32%,6.8784,0.80%,3.315,0.03%,3.315,0.03%,2.612,-0.61%,2811.87,2.32,"2,903.71",-1.21%
13,10-May-19,2.38,2.473,0.82%,6.8240,-0.05%,3.314,-0.48%,3.314,-0.48%,2.628,0.31%,2881.40,2.36,"2,939.21",3.10%
14,30-Apr-19,2.45,2.504,-0.91%,6.7349,0.02%,3.416,-0.41%,3.416,-0.41%,2.685,0.79%,2945.83,2.39,"3,078.34",0.52%
15,29-Apr-19,2.45,2.527,1.08%,6.7336,0.06%,3.430,0.44%,3.430,0.44%,2.664,0.15%,2943.03,2.42,"3,062.50",-0.77%
16,26-Apr-19,2.44,2.500,-1.34%,6.7298,-0.20%,3.421,-0.35%,3.421,-0.35%,2.690,-0.11%,2939.88,2.41,"3,086.40",-1.20%
17,25-Apr-19,2.44,2.534,0.64%,6.7431,0.32%,3.433,-0.06%,3.433,-0.06%,2.693,0.11%,2926.17,2.42,"3,123.83",-2.43%
18,24-Apr-19,2.44,2.518,-1.99%,6.7219,-0.06%,3.435,0.03%,3.435,0.03%,2.690,-0.55%,2927.25,2.42,"3,201.61",0.09%
19,23-Apr-19,2.44,2.569,-0.70%,6.7259,0.21%,3.434,0.44%,3.434,0.44%,2.705,0.41%,2933.68,2.43,"3,198.59",-0.51%
20,22-Apr-19,2.44,2.587,1.07%,6.7120,0.12%,3.419,0.86%,3.419,0.86%,2.694,0.41%,2907.97,2.46,"3,215.04",-1.70%
21,18-Apr-19,2.43,2.560,-1.31%,6.7091,0.31%,3.386,-1.20%,3.386,-1.20%,2.700,6.30%,2905.03,2.44,"3,250.20",-0.40%
22,17-Apr-19,2.42,2.594,0.08%,6.6882,-0.36%,3.427,0.68%,3.427,0.68%,2.540,1.40%,2900.45,2.44,"3,263.12",0.29%
23,16-Apr-19,2.41,2.592,1.41%,6.7122,0.05%,3.404,0.86%,3.404,0.86%,2.505,0.60%,2907.06,2.45,"3,253.60",2.39%
24,15-Apr-19,2.41,2.556,0.00%,6.7086,0.06%,3.375,1.32%,3.375,1.32%,2.490,2.17%,2905.58,2.43,"3,177.79",-0.34%
25,12-Apr-19,2.41,2.562,2.52%,6.7044,-0.22%,3.331,1.15%,3.331,1.15%,2.437,0.83%,2907.41,2.44,"3,188.63",-0.04%
26,11-Apr-19,2.41,2.499,1.38%,6.7194,0.05%,3.293,-0.78%,3.293,-0.78%,2.417,0.00%,2888.32,2.44,"3,189.96",-1.60%
27,10-Apr-19,2.41,2.465,-1.48%,6.7160,0.06%,3.319,0.82%,3.319,0.82%,2.417,1.13%,2888.21,2.41,"3,241.93",0.07%
28,29-Mar-19,2.43,2.407,0.67%,6.7120,-0.40%,3.075,-0.45%,3.075,-0.45%,2.399,0.08%,2834.40,2.40,"3,090.76",3.20%
29,28-Mar-19,2.41,2.391,0.42%,6.7390,0.18%,3.089,-0.26%,3.089,-0.26%,2.397,-1.32%,2815.44,2.40,"2,994.94",-0.92%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2388,29-Mar-05,2.72,4.581,-1.36%,8.2765,0.00%,4.354,0.00%,4.354,0.00%,1.821,-8.45%,1165.36,3.41,"1,195.02",-0.42%
2389,18-Mar-05,2.70,4.511,0.96%,8.2765,0.00%,4.447,-1.40%,4.447,-1.40%,1.826,-11.36%,1189.65,3.32,"1,227.40",-1.29%
2390,17-Mar-05,2.68,4.468,-0.89%,8.2765,0.00%,4.510,0.40%,4.510,0.40%,2.060,-1.39%,1190.21,3.29,"1,243.47",-0.97%
2391,16-Mar-05,2.57,4.508,-0.94%,8.2765,0.00%,4.492,-1.56%,4.492,-1.56%,2.089,2.55%,1188.07,3.30,"1,255.59",-1.07%
2392,15-Mar-05,2.61,4.551,0.82%,8.2765,0.00%,4.563,-0.26%,4.563,-0.26%,2.037,-0.29%,1197.75,3.32,"1,269.14",-1.88%
2393,14-Mar-05,2.59,4.514,-0.70%,8.2765,0.00%,4.575,-0.28%,4.575,-0.28%,2.043,-0.92%,1206.83,3.32,"1,293.50",0.28%
2394,11-Mar-05,2.51,4.546,1.72%,8.2765,0.00%,4.588,0.26%,4.588,0.26%,2.062,8.24%,1200.08,3.28,"1,289.94",0.29%
2395,10-Mar-05,2.52,4.469,-1.30%,8.2765,0.00%,4.576,-0.74%,4.576,-0.74%,1.905,-6.07%,1209.25,3.25,"1,286.23",-2.32%
2396,25-Feb-05,2.54,4.270,-0.44%,8.2765,0.00%,4.687,0.41%,4.687,0.41%,2.321,1.66%,1211.37,3.15,"1,312.44",0.19%
2397,24-Feb-05,2.55,4.289,0.42%,8.2765,0.00%,4.668,0.41%,4.668,0.41%,2.283,8.61%,1200.20,3.13,"1,309.95",0.04%
2398,23-Feb-05,2.53,4.271,-0.47%,8.2765,0.00%,4.649,-0.66%,4.649,-0.66%,2.102,-10.36%,1190.80,3.12,"1,309.47",0.01%
2399,22-Feb-05,2.57,4.291,0.63%,8.2765,0.00%,4.680,-0.26%,4.680,-0.26%,2.345,1.78%,1184.16,3.12,"1,309.28",1.93%
2400,18-Feb-05,2.51,4.264,1.89%,8.2765,0.00%,4.723,0.85%,4.723,0.85%,2.345,-3.70%,1201.59,3.09,"1,258.97",-1.34%
2401,17-Feb-05,2.50,4.185,0.60%,8.2765,0.00%,4.683,0.04%,4.683,0.04%,2.435,-0.20%,1200.75,3.03,"1,276.13",-0.22%
2402,16-Feb-05,2.48,4.160,1.41%,8.2765,0.00%,4.681,-0.93%,4.681,-0.93%,2.440,-4.46%,1210.34,3.05,"1,278.88",0.78%
2403,31-Jan-05,2.50,4.132,-0.34%,8.2765,0.00%,4.647,-1.02%,4.647,-1.02%,2.529,-3.51%,1181.27,2.96,"1,191.82",-1.80%
2404,28-Jan-05,2.48,4.146,-1.94%,8.2765,0.00%,4.695,-0.40%,4.695,-0.40%,2.621,0.61%,1171.36,2.89,"1,213.67",-1.00%
2405,27-Jan-05,2.39,4.228,0.67%,8.2765,0.00%,4.714,-0.06%,4.714,-0.06%,2.605,1.36%,1174.55,2.91,"1,225.89",-1.29%
2406,26-Jan-05,2.33,4.200,0.00%,8.2765,0.00%,4.717,0.47%,4.717,0.47%,2.570,-1.87%,1174.07,2.90,"1,241.96",-0.98%
2407,25-Jan-05,2.29,4.200,1.84%,8.2765,0.00%,4.695,0.17%,4.695,0.17%,2.619,0.96%,1168.41,2.88,"1,254.23",-0.12%
2408,24-Jan-05,2.26,4.124,-0.48%,8.2765,0.00%,4.687,-0.74%,4.687,-0.74%,2.594,-1.78%,1163.75,2.86,"1,255.78",1.73%
2409,21-Jan-05,2.26,4.144,-0.65%,8.2765,0.00%,4.722,0.21%,4.722,0.21%,2.641,-0.45%,1167.87,2.83,"1,234.48",2.50%
2410,20-Jan-05,2.25,4.171,-0.10%,8.2765,0.00%,4.712,-0.74%,4.712,-0.74%,2.653,0.45%,1175.41,2.85,"1,204.39",-1.13%
2411,19-Jan-05,2.19,4.175,-0.43%,8.2765,0.00%,4.747,0.13%,4.747,0.13%,2.641,-0.04%,1184.63,2.88,"1,218.11",-0.60%
2412,18-Jan-05,2.31,4.193,-0.64%,8.2765,0.00%,4.741,0.40%,4.741,0.40%,2.642,-0.71%,1195.98,2.90,"1,225.45",0.72%
2413,14-Jan-05,2.29,4.220,1.27%,8.2765,0.00%,4.568,-1.30%,4.568,-1.30%,2.752,-0.15%,1184.52,2.87,"1,245.62",-0.85%
2414,13-Jan-05,2.29,4.167,-1.68%,8.2765,0.00%,4.628,-1.76%,4.628,-1.76%,2.756,2.49%,1177.45,2.84,"1,256.31",-0.05%
2415,12-Jan-05,2.25,4.238,-0.14%,8.2765,0.00%,4.711,0.53%,4.711,0.53%,2.689,-1.50%,1187.70,2.84,"1,256.92",-0.04%
2416,11-Jan-05,2.24,4.244,-0.68%,8.2765,0.00%,4.686,-0.11%,4.686,-0.11%,2.730,-0.91%,1182.99,2.86,"1,257.46",0.40%
2417,10-Jan-05,2.26,4.273,-0.05%,8.2765,0.00%,4.691,3.30%,4.691,3.30%,2.755,0.62%,1190.25,2.86,"1,252.40",0.61%

In [113]:
export_csv = dfL.to_csv (r'cleandata.csv', index = None, header=True)